<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
	<link href="css/style-admin.css" rel="stylesheet" type="text/css" />
	<link href="css/form-element-style.css" rel="stylesheet" type="text/css" /> <!-CSS sheet for designers form element->
	<link href="css/main-syle.css" rel="stylesheet" type="text/css" />
	<link href="css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/datetimepicker.css"></script>
	<script type="text/javascript" src="../assets/app/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
</head>
<body ng-init="searchCategory()" ng-show="username !=''">
   <!--container begin-->
    <section id="container" ng-show="username != null ">
    	<section class="contentpanel">
        	<h4>Manage Category and SubCategory</h4>
        		 <a href="/logout"  style="cursor: pointer ;float: left;width: 100%;text-align: right;">Logout</a>
            <!--Advance search fildes begin-->
        	<section class="dadsrch">
            	<section class="heading"><h2></h2></section>
                <section class="dadsrchdiv">
                	<input name="title" type="text" ng-model="cname" class="" style="height:32px ;" ng-keyup="$event.keyCode == 13 ? searchCategory(1,cname) : null"><input name="" type="button" class="btngray" value="Search" ng-click="searchCategory(1,cname)">
                </section>
            </section>
            <!--Advance search fildes end-->
             <section class="dactperform">
                <section class="left">
             		<input name="" type="button" value="Add Main Category" class="btnblue" ng-click="addNewCategory()" data-toggle="modal"  />
           		</section>
           	</section>	
            <!--grid begin-->
        	<section class="dgridinfo dactcln">
                <table ng-table="tableParams">
                	<thead>
                    	<tr>
                            <th><a>Category Name</a></th>
                            <th><a>SubCategory Name</a></th>
                            <th><a>Update</a></th>
                           <th><a>Delete</a></th>
                        </tr>
                    </thead>
                	<tbody>
                    	<tr ng-repeat="category in Category.results">
          					<td>{{category.cname}}</td>
                            <td>{{category.Sucategory}}</td>
                            
                            <td> <input name="" type="button" value="Update" ng-click="updateSubcategory(category)" data-toggle="modal"  /></td>
                            <td><input name="" type="button" value="Delete" ng-click="setDeleteId(category)" data-toggle="modal" /></td> 
                        </tr>
                    	</tbody>
                </table>
        	</section>
        	 
            <!--grid end-->
            
            <section class="dpaging">
            	 <h4>{{pageNumber}}/{{pageSize}}</h4> 
            	<span class="dpagingright">
                	<a href="" class="dpagingprv" ng-click="onPrev(cname)">Prev</a>
                	<a href="" class="dpagingnxt" ng-click="onNext(cname)">Next</a>
                </span>
            </section>
        </div>     
        </section>
    </section>
    <!--container end-->
  </div>
		  <!-- Create Modal -->
		<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" style="width: 65%;left: 41%;">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Create Category And SubCategory</h4>
		      </div>
		      <form method="post" ng-submit="saveCategory(formData)">
		      <div class="modal-body">
		      <table style="font-family: 'Bitter', georgia, serif;">
		     
		      <tr>
			        	<td><label>Category Name  : </label></td>
			        	<td style="height: 60px;"><textarea type="text" name="CategoryName" style="width:70%;height: 70%;" data-ng-model="formData.cname" required></textarea></td>
			        </tr>
			         
			        
		        </table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save</button>
		      </div>
		     </form>
		    </div>
		  </div>
		</div>
		
		<!-- Update Modal -->
		<div class="modal hide" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false"  style="width: 65%;left: 41%;">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add SubCategory</h4>
		      </div>
		      <form method="post" ng-submit="updateCategory()">
		      <div class="modal-body">
		      <table>
			         <tr>
			           <td><label>Category Name</label></td>
			        	<td style="height: 60px;"><textarea type="text" name="CategoryName" style="width: 60%;height:80%;" data-ng-model="ancmtData.cname" required></textarea></td>
			       
			        	<td><label>Sub Category Name</label></td>
			        	<td style="height: 60px;"><textarea type="text" name="SubCategoryName" style="width: 360%;height:80%;" data-ng-model="ancmtData.Sucategory" ></textarea></td>
			        </tr>
			        <tr>
			           <label style="color: #0085b0;">Please Enter Your Value Separated By Comma</label>
			        </tr>
		        </table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Update</button>
		      </div>
		     </form>
		    </div>
		  </div>
		</div>
		<!-- Delete Modal -->
		<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Newspaper Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to delete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="deleteSubCategory(deleteId,deletedCID)">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
  </body>
  </html>