<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
	<link href="css/style-admin.css" rel="stylesheet" type="text/css" />
	<link href="css/form-element-style.css" rel="stylesheet" type="text/css" /> <!-CSS sheet for designers form element->
	<link href="css/main-syle.css" rel="stylesheet" type="text/css" />
	<link href="css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/datetimepicker.css"></script>
	
</head>

<body ng-init="searchNewspaper()">
   <!--container begin-->
    <section id="container">
    	<section class="contentpanel">
        	<h4>Manage Newspaper</h4>
        		 <a href="/logout"  style="cursor: pointer ;float: left;width: 100%;text-align: right;">Logout</a>
             
            <!--Advance search fildes begin-->
        	<section class="dadsrch">
            	<section class="heading"><h2></h2></section>
                <section class="dadsrchdiv">
                	<input name="title" type="text" ng-model="Nameofthenewspaper" class="" style="height:32px;" ng-keyup="$event.keyCode == 13 ? searchNewspaper(1,Nameofthenewspaper) : null"><input name="" type="button" class="btngray" value="Search" ng-click="searchNewspaper(1,Nameofthenewspaper)">
                </section>
            </section>
            <!--Advance search fildes end-->
             <section class="dactperform">
                <section class="left">
             		<input name="" type="button" value="Create" class="btnblue" ng-click="setDates()" data-toggle="modal"  />
           		</section>
           	</section>	
            <!--grid begin-->
        	<section class="dgridinfo dactcln">
                <table ng-table="tableParams">
                	<thead>
                    	<tr>
                            <th><a>Newspaper/City</a></th>
                            <!-- <th><a>LogoFileExtention</a></th>
                            <th><a>LogoName</a></th> -->
                          <!--   <th><a>Addedition</a></th>-->
                            <th><a>BasicratesperText</a></th> 
                            <th><a>BasicratesperClasified</a></th>
                            <th><a>Beforebookingdate</a></th>
                            <th><a>Allow</a></th>
                            <th><a>Update</a></th>
                            <th><a>Delete</a></th>
                        <tr>
                    </thead>
                	<tbody>
                    	<tr ng-repeat="ancmt in Newspaper.results">
          					<td>{{ancmt.Nameofthenewspaper}}</td>
                           <!--  <td>{{ancmt.LogoFileExtention}}</td>
                            <td>{{ancmt.LogoName}}</td> -->
                           <!--  <td>{{ancmt.Addedition}}</td>-->
                            <td>{{ancmt.BasicratesperText}}</td> 
                            <td>{{ancmt.BasicratesperClasified}}</td>
                            <td>{{ancmt.Beforebookingdate}}</td>
                            <td>{{ancmt.Allow}}</td>
                            
                           
                            <td> <input name="" type="button" value="Update" ng-click="setData(ancmt)" data-toggle="modal"  /></td>
                            <td><input name="" type="button" value="Delete" ng-click="setDeleteId(ancmt)" data-toggle="modal" /></td>
                        </tr>
                    	</tbody>
                </table>
        	</section>
        	
            <!--grid end-->
            
            <section class="dpaging">
            	 <h4>{{pageNumber}}/{{pageSize}}</h4> 
            	<span class="dpagingright">
                	<a href="" class="dpagingprv" ng-click="onPrev(Nameofthenewspaper)">Prev</a>
                	<a href="" class="dpagingnxt" ng-click="onNext(Nameofthenewspaper)">Next</a>
                </span>
            </section>
        </div>     
        </section>
    </section>
    <!--container end-->
  </div>
		  <!-- Create Modal -->
		<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" style="width: 65%;left: 41%;">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Create NewsPaper</h4>
		      </div>
		      <form method="post" ng-submit="saveNewspaper(formData)">
		      <div class="modal-body">
		      <table style="font-family: 'Bitter', georgia, serif;">
		     
		      <tr>
			        	<td><label>NewsPapers</label></td>
			        	<td style="height: 60px;"><textarea type="text" name="Nameofthenewspaper" style="width:70%;height: 70%;" data-ng-model="formData.Nameofthenewspaper" required></textarea></td>
			        </tr>
			         
			 
			        <tr>
			        	<td><label>Addition</label></td>
			        	<td style="height: 60px;"><textarea type="text" name="Addedition" style="width:70%;height: 70%;" data-ng-model="formData.Addedition" required></textarea></td>
			        	  </tr>
			        <tr>
			           
			            <td><label>Unit</label></td>
			        	<td style="height: 60px;">
			        		<select name="Unit"  style="width:100%;" data-ng-model="formData.Unit" >
			        		 
			        			<option ng-selected="formData.Unit== 'Words'" value="Words">Words</option>
			        			<option ng-selected="formData.Unit== 'Line'" value="Line">Line</option>
			        		</select>
			        		
			         </td>
			            <td><label> Value</label></td>
			        	<td style="height: 60px;"><textarea type="text" name="Value" style="width:70%;height: 70%;" data-ng-model="formData.Value" required></textarea></td>
			        </tr>
			        <tr>
			        <td><label>BasicratesperClasified</label></td>
			        	<td style="height: 60px;"><textarea type="text" name="BasicratesperClasified" style="width:70%;height: 70%;" data-ng-model="formData.BasicratesperClasified" required></textarea></td>
			             </tr>
		        </table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save</button>
		      </div>
		     </form>
		    </div>
		  </div>
		</div>
		
		<!-- Update Modal -->
		<div class="modal hide" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false"  style="width: 65%;left: 41%;">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Update News Paper</h4>
		      </div>
		      <form method="post" ng-submit="updateNewspaper()">
		      <div class="modal-body">
		      <table>
			        <tr>
			        	<td><label>NewsPapers</label></td>
			        	<td style="height: 60px;"><textarea type="text" name="Nameofthenewspaper" style="width:70%;height: 70%;" data-ng-model="ancmtData.Nameofthenewspaper" required></textarea></td>
			        </tr>
			          <tr>
			        	
			        <tr>
			        	<td><label>Addedition</label></td>
			        	<td style="height: 60px;"><textarea type="text" name="Addedition" style="width:70%;height: 70%;" data-ng-model="ancmtData.Addedition" required></textarea></td>
			        	
			         </tr>
			         <tr>
			             <td><label>BasicratesperText :</label></td>
			        	<td style="height: 60px;"><textarea type="text" name="BasicratesperText" style="width:70%;height: 70%;" data-ng-model="ancmtData.BasicratesperText" required></textarea></td>
			         </tr>
			      
		        </table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Update</button>
		      </div>
		     </form>
		    </div>
		  </div>
		</div>
		<!-- Delete Modal -->
		<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Newspaper Delete</h4>
		      </div>
		      <div class="modal-body" id="deleteArticleBody">
		        Are you sure you want to delete?
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="deleteNewspaper(deleteId)">Yes</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
  </body>
  </html>