body{}
/*New Home page 28 sept 2012 */
.new_home_search_box{border:solid 1px #c1d5e1; border-radius:6px;width:880px; background:#e9f3f8; padding:1px; height:50px; padding:15px 18px; font-size:18px;}
.select_gap{padding-bottom:15px;}
.select_gap_in{padding-bottom:7px;}

