<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body id ="myModal2"  >
 <div style="margin-bottom:25px;line-height:16px;" id="adText">
			
			
       <div>
     <img src="assets/img/Logo Arihant Booking.jpg" />
		     <table style="margin-left: 2%;">
		      <tr>
			      <!--  <td><label style="color:blue">Order ID : </label></td><td><span style="font-weight:bold">{{headerItem.OrderID}}</span></td> -->
			       <td><label style="color:blue">Order Date </label> </td><td><span style="font-weight:bold">{{orderdate |date:'MM/dd/yyyy'}}</span></td>
			  </tr>
			   <tr><!-- Nameofthenewspaper ,TotalCost,Bgcolor,,numberOfWords, -->
			        <td><label style="color:blue" >Client Name  </label> </td><td > &nbsp;&nbsp;<span ng-if="name != ''" style="font-weight:bold">{{name}}</span><span ng-if="name == ''" style="font-weight:bold"> Not Available</span></td>
			       <td><label style="color:blue"> Payment Mode </label>  </td><td>&nbsp;&nbsp;<span style="font-weight:bold" >Online</span></td>
			  </tr>
			  <tr>
			  <td><label style="color:blue">Address </label> </td>
			  <td ><span style="font-weight:bold" ng-if="name != ''">{{addressDetails.fullName}},{{addressDetails.address}} , {{addressDetails.city}} ,{{addressDetails.state}} ,{{addressDetails.pinCode}}</span><span ng-if="name == ''" style="font-weight:bold">Not Available</span></td>
			  
			  </tr>
		 </table>
		 <div class="ngdialog-close" style="right: 20px;top: 20px;"></div>
     </div>
      
		      <div ng-repeat="c in cartsItem">
		      <div>
		      <table border="1" style="width: 800px;float: left; ">
		      <tr>
		         <td style="width: 22%;"><label style="color:blue ;"> <center>NewsPaper/Category/Sub Category/City</center> </label> </td>
		         <td style="width: 30%;"><label style="color:blue;" ><center>Ad Text</center></label> </td>
		         <td style="width: 14%;"><label style="color:blue;"><center>Published Date</center> </label> </td>
		          <td style="width: 22%;"><label style="color:blue;"><center>Enhancements</center> </label> </td>
		         <td style="width: 22%;"><label style="color:blue;"><center>Total Cost</center> </label></td>
			   </tr>

			   <tr style="height: 140px";>
			       <td style="width: 22%;">{{c.newspaper}}/{{c.mainCategoty}}/ {{c.subcategory}}<br/>{{c.location}}</lable></td>
			       <td style="width: 30%;"> {{c.description}}</lable></td>
			       
			  <!-- <tr>
			      <td><label>BgColor Selected : </label></td>
			      <td> {{invoice.Bgcolor}}</td>
			       <td><label>Border Selected: </label> </td>
			       <td>{{invoice.Border}}
			      </td>
			  </tr> -->
			  
			      <!--  <td><label>Tick Selected: </label> </td>
			       <td> {{invoice.Tick}} </td> -->
			       
			       <td><span  ng-repeat="dateUI in c.dates">{{dateUI |date:'MM/dd/yyyy'}} </span><br/></td>
			       <td>BgColor: <font ng-if="c.nobgColor ==  false">Yes</font><font ng-if="c.nobgColor == true"> No</font><br> Border: {{c.onBorderSelected}}<br>Tick: <font ng-if="c.notickforAd ==  true"> No</font><font  ng-if="c.notickforAd == false "> Yes</font><br>No of Words/Line:  <font ng-if="c.extraUnit > 0">{{c.extraUnit}} </font><font ng-if ="c.extraUnit == null">0</font><br>Total Extra Cost:{{c.totalExtraCost + c.extraCost}}</lable></td>
			       </div>
			       <td style="width:22%"> र. {{c.fullTotal}} </lable></td>
			 </tr>
		<!-- 	<tr><td>{{grantTotal}}</td></tr> -->
		       </table>
		       
		 </div>
     
				
</div><br /><br />
<table  border="1" style="float: right;width: 23%; margin-top: 1%;">
		  <tr>
			 <td><label style="color:blue" >Grand Total :</label></td> 
			 <td>र.{{grantTotal}}</td>
		 </tr>
    </table>
<style>
	.ngdialog-content{
	position: absolute !important;
	left: 18% !important;
	float: left !important;
	 width: auto !important;
     overflow: scroll;
     overflow-x:hidden;
     height: 525px !important;
	}
	</style>
	
	<script type="text/javascript">
    $(function(){
      $('#myModal2').slimScroll({
          color: 'red'
      });
    });
</script>
</body>
	
 <!-- <style>
	.ngdialog-content {
		width:53% !important;
	}
	</style>  -->    
</html