	<ul class="nav nav-list bs-docs-sidenav" style="display: block;">											
		<li class="subMenu"><a> Text Classified Ad - By Newspaper</a>
			<ul>
				<li ng-repeat="np in newspapers"><a href="products.html">{{np}}</a></li>
			</ul>
		</li>
		<li class="subMenu"><a> Text Classified Ad - Location </a>
			<ul>
				<li ng-repeat="l in locations"><a href="products.html">{{l}}</a></li>
			</ul>
		</li>
		
		<li style="border:0"> &nbsp;</li>						
		<li> <a href="product_summary.html"><strong>{{sideRequest.cartItems.length}} Ads in your cart  <span class="badge badge-warning pull-right" style="line-height:18px;">{{sideRequest.cartAmount}}</span></strong></a></li>
		<li style="border:0"> &nbsp;</li>	
		<li ng-repeat="cartItem in sideRequest.cartItems">
		  <div class="thumbnail">
			<img src="assets/products/1.jpg" alt="">
			<div class="caption">
			  <h5>{{cartItem.type}}</h5>
			  <p> 
				{{cartItem.description}} 
			  </p>
			  <h4><a class="btn" href="product_details.html">VIEW</a> 
			  	<span class="pull-right">{{cartItem.amount}}</span>
			  </h4>
			</div>
		  </div>
		</li>
		 
	  </ul>
