 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
	<link href="css/style-admin.css" rel="stylesheet" type="text/css" />
	<link href="css/form-element-style.css" rel="stylesheet" type="text/css" /> <!-CSS sheet for designers form element->
	<link href="css/main-syle.css" rel="stylesheet" type="text/css" />
	<link href="css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/datetimepicker.css"></script>
	<script type="text/javascript" src="../assets/app/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
</head>
<body  ng-app ="adschela" ng-controller="MyAccountController" >
   <!--container begin-->
    <section id="container">
    	<section class="contentpanel">
        	<h4>Your Order Details</h4>
            <!--grid begin-->
        	<section class="dgridinfo dactcln">
                <table ng-table="tableParams">
                	<thead>
                    	<tr>
                             <th><a>Order ID</a></th>	
                             <th><a>CC Bid</a></th>
                             <th><a>CC Order No</a></th>
                             <th><a>CC Category</a></th>
                             <th><a>Bank Name</a></th>
                             <th><a>Total Cost</a></th>
                              <th><a>View </a></th>
                        <tr>
                    </thead>
                	<tbody><tr>	
                    	<tr ng-repeat="dataorderList in orderList.results">
                        <!--    <p>{{dataorderList}}</p> -->
                    	     <td>{{dataorderList.orderId}}</td>
                             <td>{{dataorderList.cc_bid}}</td>
                             <td>{{dataorderList.cc_orderNo}}</td>
                             <td>{{dataorderList.cc_category}}</td>
                             <td>{{dataorderList.bank_name}}</td>
                             <td>{{dataorderList.total}}</td>
                             <td> <input name="" type="button" value="View" ng-click="setData(dataorderList)" data-toggle="modal"  /></td>
                             </tr>
                    	</tbody>
                </table>
        	</section>
        </div>     
        </section>
    </section>
  </div>
  <div class="modal hide" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false"  style="width: 65%;left: 41%;">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Order Details</h4>
		      </div>
		     
		      <div class="modal-body">
		      <table>
		      <tr>
			        <tr>
			       <td><label>Order ID : </label></td><td>{{orderData.orderId}}</td>
			       </tr>
			       <tr>
			       <td><label>CC Bid : </label> </td><td><font ng-if="orderData.cc_bid != null">{{orderData.cc_bid}}</font><font ng-if="orderData.cc_bid == null">Canceled</font></td>
			       </tr>
			       <tr>
			       <td><label>CC Order No :</label>  </td><td><font ng-if="orderData.cc_orderNo != null">{{orderData.cc_orderNo}}</font><font ng-if="orderData.cc_orderNo== null">Canceled</font></td>
			       </tr>
			       <tr>
			       <td><label>CC Category :</label> </td><td> <font ng-if="orderData.cc_orderNo != null">{{orderData.cc_category}}</font><font ng-if="orderData.cc_category == null">Canceled</font></td>
			       </tr>
			       <tr>
			       <td><label>Bank Name :</label> </td><td> <font ng-if="orderData.bank_name != null">{{orderData.bank_name}}</font><font ng-if="orderData.bank_name == null">Canceled</font></td>
			       </tr>
			       <tr>
			       <td><label>Total Cost :</label></td><td> {{orderData.total}}</td>
			       </tr>
			     </tr> 
		        </table>
		      </div>
		     
		    </div>
		  </div>
		</div>
  </body>
