 <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
	<link href="css/style-admin.css" rel="stylesheet" type="text/css" />
	<link href="css/form-element-style.css" rel="stylesheet" type="text/css" /> <!-CSS sheet for designers form element->
	<link href="css/main-syle.css" rel="stylesheet" type="text/css" />
	<link href="css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/datetimepicker.css"></script>
	<script type="text/javascript" src="../assets/app/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
</head>
<body  ng-app ="adschela" ng-controller="MyAccountController" >
   <!--container begin-->
    <section id="container">
    	<section class="contentpanel">
        	<h4>Your Order Details</h4>
            <!--grid begin-->
        	<section class="dgridinfo dactcln">
                <table ng-table="tableParams">
                	<thead>
                    	<tr>
                             <th><a>Order ID</a></th>	
                             <th><a>CC Bid</a></th>
                             <th><a>CC Order No</a></th>
                             <th><a>CC Category</a></th>
                             <th><a>Bank Name</a></th>
                             <th><a>Total Cost</a></th>
                              <th><a>Invoice </a></th>
                        <tr>
                    </thead>
                	<tbody><tr>	
                    	<tr ng-repeat="dataorderList in orderList.results">
                        <!--    <p>{{dataorderList}}</p> -->
                    	     <td>{{dataorderList.orderId}}</td>
                             <td>{{dataorderList.cc_bid}}</td>
                             <td>{{dataorderList.cc_orderNo}}</td>
                             <td>{{dataorderList.cc_category}}</td>
                             <td>{{dataorderList.bank_name}}</td>
                             <td>{{dataorderList.total}}</td>
                             <td> <input name="" type="button" value="Invoice" ng-click="setInvoiceData(dataorderList)" data-toggle="modal"  /></td>
                             </tr>
                    	</tbody>
                </table>
        	</section>
        </div>     
        </section>
    </section>
  </div>
  
  <div class="modal hide" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false"  style="width: 65%;left: 41%; height: 555px !important;  overflow:scroll !important;">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Invoice Details</h4>
		      </div>
       <div>
     <img src="assets/img/Logo Arihant Booking.jpg" />
		     <table style="margin-left: 2%;">
		      <tr>
			       <td><label style="color:blue">Order ID  </label></td><td><span style="font-weight:bold">{{inVoiceHeader.OrderID}}</span></td>
			       <td><label style="color:blue">Order Date </label> </td><td><span style="font-weight:bold">{{inVoiceHeader.orderDate}}</span></td>
			  </tr>
			   <tr><!-- Nameofthenewspaper ,TotalCost,Bgcolor,,numberOfWords, -->
			        <td><label style="color:blue">Client Name </label> </td><td> &nbsp;&nbsp;<span style="font-weight:bold">{{inVoiceHeader.userEmailId}}</span></td>
			       <td><label style="color:blue"> Payment Mode </label>  </td><td>&nbsp;&nbsp;<span style="font-weight:bold" ng-if="inVoiceHeader.paymentOption == 'cc'">Online</span></td>
			  </tr>
			  <tr>
			  <td><label style="color:blue">Address </label> </td>
			  <td><span style="font-weight:bold">{{addressDetails.fullName}},{{addressDetails.address}} , {{addressDetails.city}} ,{{addressDetails.state}} ,{{addressDetails.pinCode}}</span></td>
			  
			  </tr>
		 </table>
     </div>
		     
		      <div class="modal-body" data ng-repeat="invoice in orderData">
		      <table border="1" style="width: 900px;float: left; ">
		      <tr>
		         <td style="width: 22%;color:blue;"><label> <center>NewsPaper/Category/Sub Category/City</center> </label> </td>
		         <td style="width: 24%%;color:blue"><center><label>Ad Text</label></center> </td>
		         <td style="width: 22%;color:blue;"><label><center>Published Date</center></label> </td>
		         <td style="width: 22%;color:blue;"><label><center>Enhancements</center></label> </td>
		         <td style="width: 22%;color:blue;"><label><center>Total Cost </center></label></td>
			   </tr>
			   <tr style="height: 140px";>
			       <td >{{invoice.Nameofthenewspaper}}/{{invoice.Category}}/ {{invoice.Subcategory}}/<br/>{{invoice.City}}</lable></td>
			       <td > {{invoice.Adtext}}</lable></td>
			       
			  <!-- <tr>
			      <td><label>BgColor Selected : </label></td>
			      <td> {{invoice.Bgcolor}}</td>
			       <td><label>Border Selected: </label> </td>
			       <td>{{invoice.Border}}
			      </td>
			  </tr> -->
			  
			      <!--  <td><label>Tick Selected: </label> </td>
			       <td> {{invoice.Tick}} </td> -->
			       <td> {{invoice.PublishDate}} </lable></td>
			       <td>BgColor: <font ng-if="invoice.Bgcolor == ''">No</font><font ng-if="invoice.Bgcolor != ''">{{invoice.Bgcolor}}</font> <br> Border: {{invoice.Border}}<br>Tick: <font ng-if="invoice.Tick == 'true' ">No</font><font  ng-if="invoice.Tick == 'false' ">Yes</font> <br>Number Of Words/Line  {{invoice.numberOfWords}}<br>Total Extra Cost:{{invoice.totalExtraCost}}</lable></td>
			       <td> र.{{invoice.TotalCost}} </lable></td>
			</span>
			 </tr>
			
		        </table>
		       
		      </div>
		    </div>
		     <table  border="1" style="float: right;margin-right: 2%;">
		         <tr>
			 		<td style="width:38%;">
			 		<label style="color:blue" >Grand Total :</label>
			 		</td> <td style="width:38%;">
			 		र.{{grantTotal}}
			 		</td>
			 </tr>
		        </table>
		  </div>
		</div>
		  <script type="text/javascript">
    $(function(){
      $('#myModal2').slimScroll({
          color: 'red'
      });
    });
</script>
<style>
	.ngdialog-content {
		width:53% !important;
	}
	</style>      
  </body>
