@(title: String)(ccavenue: viewmodel.CCAvenueDefaultVM)


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="mnt-html" xmlns="http://www.w3.org/1999/xhtml">
<head>
	
</head>
<body>
<form id="autoSubmit" method="post" action="https://www.ccavenue.com/shopzone/cc_details.jsp">
	<input type="hidden" name="Merchant_Id" value="@ccavenue.Merchant_Id"/>
	<input type="hidden" name="Amount" value="@ccavenue.Amount"/>
	<input type="hidden" name="Order_Id" value="@ccavenue.Order_Id"/>
	<input type="hidden" name="Redirect_Url" value="@ccavenue.Redirect_Url"/>
	<input type="hidden" name="Checksum" value="@ccavenue.Checksum"/>
	<input type="hidden" name="billing_cust_name" value="@ccavenue.billing_cust_name"/>
	<input type="hidden" name="billing_cust_address" value="@ccavenue.billing_cust_address"/>
	<input type="hidden" name="billing_cust_tel" value="@ccavenue.billing_cust_tel"/>
	<input type="hidden" name="billing_cust_email" value="@ccavenue.billing_cust_email"/>
	<input type="hidden" name="billing_cust_country" value="@ccavenue.billing_cust_country"/>
	<input type="hidden" name="billing_cust_state" value="@ccavenue.billing_cust_state"/>
	<input type="hidden" name="billing_cust_city" value="@ccavenue.billing_cust_city"/>
	<input type="hidden" name="billing_cust_country" value="@ccavenue.billing_cust_country"/>
	<input type="hidden" name="billing_zip_code" value="@ccavenue.billing_zip"/>
	<input type="hidden" name="billing_cust_country" value="@ccavenue.billing_cust_country"/>
</form>
<script>

	document.getElementById("autoSubmit").submit();

</script>
</body>





</html>