



<head>
<title>
	Display
</title>
    <!-- Modal PopUp-->
    <link href="css/modal.css" rel="stylesheet" type="text/css" />
    <!-- End -->

    

        <link href="css/display.css" rel="stylesheet" type="text/css" />

    
    <style type="text/css">
        .divModalBackground
        {
            background-color: #696969;
            filter: alpha(opacity=40);
            opacity: 0.7;
            xindex: -1;
            zindex: 800;
            top: 0;
            left: 0;
            text-align: center;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
        }
        .style2
        {
            color: red;
        }
    </style>
<link href="/WebResource.axd?d=eELOVr57-x406Xc75zGi2tprCqY3dldlhtntpI7SiWifW2awJvad0Zw_fiz0Owz-B7zVwkz8xQlml33cPpS0PHPymYTskVfDmGrAvFbI-b__PCIB7ITYVBP4PXdUbPaXOJSO6g2&amp;t=635216696627194188" type="text/css" rel="stylesheet" /><link href="/WebResource.axd?d=6D5sCqIWT_1AL4YT4rDd3JfMclNQawjIUJC2rP1IjvGNa5vI2SVvrh4yXZKd_5BOMOIiPxz8Xxd_0beRQJudvR3xv1Ch0isx6BfxOl4IVXZmS-ZQyJKCuB9ve_fsSjP3Gz7HVOd-dsXigyQMoHhsX3m0yVs1&amp;t=635216696627194188" type="text/css" rel="stylesheet" /><link href="/WebResource.axd?d=M-lLY-IZ1ekCIzcitSQ1v993WsqoKOApMnM7fMXUHgU-RrQAZZDSxINPihZd6L6uGu_Ny5hF-QRiDtHP7rdBHhgUCCjTagO_KEMvjGqPqVhQ_XmKoPbyWGsfx0IA7OWQ18Xmkw2&amp;t=635216696627194188" type="text/css" rel="stylesheet" /></head>

        
    <div id="PageUpdateProgress" style="display:none;">
	
            <div id="IMGDIV1" class="divModalBackground">
                <img src="image/waiting.gif" />
            </div>
        
</div>
    <div>
        <div>
            <h2 style="margin: 0; font-size: 19px; margin-left: 15px; margin-top: 15px">
                Compose Your Ad or&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="image" name="ibupload" id="ibupload" src="image/upload.png" align="absmiddle" style="border-width:0px;" /></h2>
        </div>
        <table border="0" cellpadding="0" cellspacing="0" width="630px">
            <tr>
                <td width="635px" align="left" valign="top">
                    <div id="UpdatePanel3">
	
                            <fieldset style="border: 4px double #E6E6E6; width: 635px; height: Auto; margin: 0;
                                padding: 2px; font-size: 14px">
                                <legend style="color: #FF3300; font-size: 10pt; font-weight: 700; font-family: Calibri;">
                                    &nbsp;<span style="font-weight: bold;
                                            color: Green; font-size: 14px"></span><span style="font-weight: bold;
                                                    color: Green; font-size: 14px"></span></legend>
                                <div style="width: 100%; margin: 0 auto; border: Solid 1px Black; background-color: #8ABE25;
                                    font-family: Calibri">
                                    <table id="rbndtype" cellspacing="10" border="0" style="color:White;font-weight:bold;">
		<tr>
			<td><input id="rbndtype_0" type="radio" name="rbndtype" value="Color Ads" checked="checked" /><label for="rbndtype_0">Color Ads</label></td><td><input id="rbndtype_1" type="radio" name="rbndtype" value="B/W Ads" onclick="javascript:setTimeout('__doPostBack(\'rbndtype$1\',\'\')', 0)" /><label for="rbndtype_1">B/W Ads</label></td>
		</tr>
	</table>
                                </div>
                                
                                <span id="lblmsg" style="color:Red;font-family:Calibri;"></span>
                                <div id="pnlex1">
		
                                    <table style="width: 100%; margin: 0 auto">
                                        <tr>
                                            <td valign="top">
                                                <input type="image" name="ibcd1"   src="editdisplayFrame" style="border-width:0px;width: 115px" /><br />
                                                <img id="Image1" src="assets/image/displayc1.JPG" style="width:115px;border-width:0px;" />
                                            </td>
                                            <td valign="top">
                                                <input type="image" name="ibcd2"  src="editdisplayFrame" style="border-width:0px;width: 115px;" /><br />
                                                <img id="Image2" src="assets/image/displayc2.JPG" style="border-width:0px;" />
                                            </td>
                                            <td valign="top">
                                                <input type="image" name="ibcd3"  src="editdisplayFrame" style="border-width:0px;width: 115px" /><br />
                                                <img id="Image3" src="assets/image/displayc3.JPG" style="border-width:0px;" />
                                            </td>
                                            <td valign="top">
                                                <input type="image" name="ibcd4"   src="editdisplayFrame" style="border-width:0px;width: 115px" /><br />
                                                <img id="Image4" src="assets/image/displayc4.JPG" style="border-width:0px;" />
                                            </td>
                                        </tr>
                                    </table>
                                
	</div>
                                
                                
                                
                                
                                
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
                            </fieldset>
                        
</div>
                </td>
            </tr>
        </table>
        <span id="lblcostextra" style="color:White;">232</span>
        <span id="lbltcost" style="color:White;">232</span>
        <span id="lblcm" style="color:White;">1</span>
        <span id="lblID" style="color:White;"></span>
        <span id="lbltemp" style="color:White;"></span>
        <input type="hidden" name="hfresult" id="hfresult" />
        <input type="hidden" name="hfcostcm" id="hfcostcm" />
    </div>
    

