

		 <div   class="homCar pull-left" style="width: 40%;">
            <carousel interval="carousel.interval" >
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img class="carousel-img" ng-src="{{slide.image}}" style="margin:auto;">
		        </slide>
		      </carousel>
		  </div>
		  <div id="homecart" style="float: left;margin: 5%;width: 48%; ">
		  	<blockquote>
		  		<h3>Book Newspaper Classified and Display Ads at best rates , get instant quotes</h3>
		  		<p class="lead"><span style="font-size:15px">Mail us your ad at support@@arihantbooking.com or whatsapp on 9456666690</span></p>
		  	</blockquote>
		  	<a href="#/make-booking.html/0"  class="btn btn-large pull-right btn-success" >Book My Ads</a> 
        
		  </div>
		  	
		  
	<div class="row">
	<!-- <div data-ng-include data-src="'sidebar.html'">
	
	</div> -->
	
	<div class="span12" >
	<div>
		<!-- <h3>New Products </h3> -->
		<div class="row-fluid">
		<div id="myCarousel1"  >
            <div class="carousel-inner" style="height: inherit;">
              <div class="item active">
				  <ul class="thumbnails">					 
					<li ng-repeat="np in nplist"  class="span3" style="height: 150px;">
					  <div class="thumbnail" ng-model="bookingState.selectedNewsPaper" ng-click="onfirestNewspaperSelect(np)">
					  	<a href="#/make-booking.html/0">
						<img class="mnt-np-logo" ng-src="{{np.img}}" alt=""/></a>
						<div class="caption"  value="{{np.name}}">
						  <h5>{{np.name}}</h5>
						</div>
						</a>	
					  </div>
					</li>
					
				  </ul>
		  	  </div>
		  </div>
		 </div>		  
		</div>
	</div>
  </div><!--Span End  -->
</div><!--Row end  -->

<div class="modal fade" id="userInfopopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel"> Get a chance to win 20 percent off coupon for Times of India Classifieds .</h4>
		      </div>
		      <div class="modal-body" id="">
		       
		     <div>
				     <div style="float: left;margin-right:1%;"><label>Your Name</label>
					  <input type="text"  name="tempuserName" data-ng-model="tempuserName" required></div>   
		             
		               <div style="" >
		                <label>Your Mobile Number</label>
		               
				           <input type="text"  name="tempuserMobnumber" data-ng-model="tempuserMobnumber" required>
			          </div>      
					    
		   </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-primary" data-ng-click="sendMailAboutGuestuser(tempuserName,tempuserMobnumber)">Submit</button>
		        <button type="button" class="btn btn-default" data-ng-click=setCookie()>Cancel</button>
		      </div>
		    </div>
		  </div>
		 </div>
	
<style>
.span3{
	margin-left: 0px !important;
}
.tag{
right: 0;
}
.thumbnail:hover {
	border: 1px solid #65BDDF;
	background-color: #65BDDF;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.thumbnail img {
	max-width: 80%;
	padding: 5%;
	background-color: white;
	width: 264px;
	height: 39px;
}

</style>
