<!-- <div class ="col-xs-12 col-sm-6 col-sm-offset-3 mnt-shadow-deco" style="width: 87%;margin-left: 6%;"> -->
<div style="margin-left: 8%;">
	<h2>Book Newspaper Classified and Display Advertisement Instantly !
</h2>
</div>
<a href="#/compose-classified-Ad/0">
<!-- <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			front content
		</div>
		<div class="back">
			back content
		</div>
	</div>
</div> -->

<div class="flip-container" style="width: 20%;
margin-left: 8%;float: left;margin-top: 1%;">
	<div
		style="height: 40px; background-color: #D7EDFB; /* -webkit-appearance: button; */">
		<!-- <a href="#/compose-classified-Ad/0" class="" style=""> -->
		<div style="margin-left: 4%; padding: 5%; font-weight: bold;">
			Book Text
				Classified Ad
		</div><!-- </a> -->
	</div>
	<div class="flipper">
		<div class= "front"style="border: 4px solid #D7EDFB; height: 184px; margin-top: 2%;width:97%;">
			<carousel interval="carousel.interval"> <slide
				ng-repeat="slide in slides" active="slide.active"> <img
				class="custom-img" ng-src="{{slide.image}}" style="margin: auto;">
			</slide> </carousel>
		</div>
	

	<!--   <div style="margin-left: 12%;margin-top: 4%;">
		      <button class="btn btn-large btn-success" type="button"><label>Text Classified  Ad</label> </button>
		      
		       <a href="#/compose-classified-Ad/0"  class="btn btn-success" >Book Text Classified  Ad</a>
		       </div> -->
	<div class="back" style="margin-top: 1%;border: 4px solid #D7EDFB;height: 180px;width: 96%;">
		<ul>
			<!--  <span style="font-weight:bold;margin-left: 11%; ">Text Classified  Ad</li><br /> -->
			<li style="font-size: 12px; margin-left: 0%;font-weight: bold;">Ads are Economical
				& in Text Format</li>
			<li style="font-size: 12px; margin-left: 0%;font-weight: bold;">Cost calculation
				based on per line/word</li>
			<li style="font-size: 12px; margin-left: 0%;font-weight: bold;">Enhancement like
				Tick , Border & Bold are applicable to increase visibility</li>
		</ul>
	</div>
	</div>
</div>

</a>
<a href="" ng-click="onClassifiedClicked()" class="" style="">
<div class="flip-container" style="width: 20%;margin-left: 10%;float: left;margin-top: 1%;">
	
	<div
		style="height: 40px; background-color: #D7EDFB; /* -webkit-appearance: button; */">
		
		<div style="margin-left: 2%; padding: 5%; font-weight: bold;">
			Book
				Classified Display Ad
		</div>
	</div>
	<div class="flipper">
		<div  class ="front" style="border: 4px solid #D7EDFB; height: 184px; margin-top: 2%;width:97%;">
			<carousel interval="carousel.interval"> <slide
				ng-repeat="slide in clasifiedsImages" active="slide.active">
			<img class="custom-img" ng-src="{{slide.image}}"
				style="margin: auto;"> </slide> </carousel>

		</div>

	<!--  <div style="margin-left: 10%;margin-top: 4%;">
		     		  <button type="buton" class="btn btn-large btn-success"><label>Classified Display </label></button> 
		      			 <a href="" ng-click="onClassifiedClicked()" class="btn  btn-success" >Book  Classified Display Ad</a>
		      </div> -->
	<div class="back" style="margin-top: 2%;border: 4px solid #D7EDFB;height: 180px;width: 96%;">
		<ul>
			<!-- <li style="font-weight:bold; margin-left: 0%;">Classified Display </span><br />
				  -->
			<li style="font-size: 12px; margin-left: 0%;font-weight: bold;">Good visibility and
				better response</li>
			<li style="font-size: 12px; margin-left: 0%;font-weight: bold;">Cost calculation
				based on Per Sqcm</li>
			<li style="font-size: 12px; margin-left: 0%;font-weight: bold;">Logo and Multicolor
				design for increase visibility</li>
		</ul>
	</div>
</div>
</div>

</a>

<a href="#/dispAds" style="text-decoration: none;" >
<div class="flip-container" style="width: 20%;margin-left: 68%;margin-top: 2%;">
	<div
		style="height: 40px; background-color: #D7EDFB; /* -webkit-appearance: button; */">
		<div style="margin-left: 10%; padding: 5%; font-weight: bold;text-decoration:none">
			 Book Display Advertising
		</div>
	</div>
	<div class="flipper">
	<div class="front"style="border: 4px solid #D7EDFB; height: 180px; margin-top: 1%;width: 96%;">
		<carousel interval="carousel.interval"> <slide
			ng-repeat="slide in dispAds" active="slide.active"> <img
			class="custom-img" ng-src="{{slide.image}}" style="margin: auto;">
		</slide> </carousel>
		<!-- <div>
						 <span style="font-weight:bold; margin-left: 17%;">Display Advertising</span><br />
						 <span style="font-size: 10px;margin-left: 2%">1.Creative design and Eye Catching</span><br />
						 <span style="font-size: 10px;margin-left: 2%">2.Expensive ad based on pr Sqcm.</span><br />
						 <span style="font-size: 10px;margin-left: 2%">3.Ad can be  displayed on any page alongside editorial content</span><br />
			     </div>
		 	  -->
	</div>
	
	<!-- <div style="margin-left: 12%;margin-top: 4%;">
		      <button  class="btn   btn-success" type="button">
		    
		     <a href="#/dispAds"  class="btn btn-success" >
		    Book  Display Advertising</a> 
		    </button>
		     </div> -->
	<div style="margin-top: 1%;border: 4px solid #D7EDFB;height: 180px;width: 96%;" class="back">
		<ul>
			<!-- <span style="font-weight:bold; margin-left: 11%;">Display Advertising</span><br />
		 -->
			<li style="font-size: 12px; margin-left: 0%;font-weight: bold;">Creative design and
				Eye Catching</li>
			<li style="font-size: 12px; margin-left: 0%;font-weight: bold;">Expensive ad based
				on pr Sqcm.</li>
			<li style="font-size: 12px; margin-left: 0%;font-weight: bold;">Ad can be displayed
				on any page alongside editorial content</li>

		</ul>
	</div>
</div>
</div>
</a>
<div class="row">
	<!-- <div data-ng-include data-src="'sidebar.html'">
	
	</div> -->

	<div class="span12">
		<div>
			<!-- <h3>New Products </h3> -->
			<div class="row-fluid">
				<div id="myCarousel1" style="background-color:;">
					<div class="carousel-inner" style="height: 20px;">
						<div id="slideflash" class="item active" style="margin-left: 0%;">
							<ul >
								<!-- <li ng-repeat="np in nplist" class="span3"
									style="height: 150px; width: 15%;">
									<div class="thumbnail "
										ng-model="bookingState.selectedNewsPaper"
										ng-click="onfirestNewspaperSelect(np)">
											<a href="#/compose-classified-Ad/0"> 
										<img class="" style="width: 60%" ng-src="{{np.img}}" alt="" />
										</a>
										<div class="padding"  value="{{np.name}}">
						   <h5>{{np.name}}</h5>
						 </div>
										</a>
									</div>
								</li> -->
								<!-- <li  class="span3"
									style="height: 150px; width: 87%;margin-top: 2%;">
									
									<img class="" src="NewDesign/homepagesImages/epaper.jpg" alt="" /></a>
									<div class=" thumbnail "
										ng-model="bookingState.selectedNewsPaper"
										ng-click="onfirestNewspaperSelect(np)">
											<a href="#/compose-classified-Ad/0"> 
										<img class="" ng-src="{{np.img}}" alt="" /></a>
										 <div class="padding"  value="{{np.name}}">
						   <h5>{{np.name}}</h5>
						 </div>
											</a>	
									</div>
								</li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Span End  -->
</div>
<!--Row end  -->
<!-- <div style="float: left;" class="">

	<div class="index_intro_heading" style="margin-top: 1%;width: 87%;">
		<span style="font-size: 24px; color: #1597EA;margin-left: 4%;">Newspaper Advertising Made Simple</span>
		<hr style="color: black" style="margin:0%">

	<p style="margin-left: 4%;">
		Book Classified or Display Advertisement with us and we would offer you the best price in the market.<strong> Guaranteed Best Price and the Quick Service!!!</strong> If you get better prices anywhere then come back to us with the right information and the finalized Ad. We would do our best to offer you much better price and also do the quick online booking on the desired dates. !!
		.
	</p>

	</div> -->
	<!-- <p>
		Book Classified or Display Advertisement with us and we would offer you the best price in the market.<strong> Guaranteed Best Price and the Quick Service!!!</strong> If you get better prices anywhere then come back to us with the right information and the finalized Ad. We would do our best to offer you much better price and also do the quick online booking on the desired dates. !!
		.
	</p> -->
	<!-- <div  class="homCar pull-left" style="width: 20%;margin-left:8%;border: 4px solid #D7EDFB">
        <div class="newspaper"><strong>198+</strong> Newspapers </div>
        <div class="offer"><strong>2,093+</strong> Offers</div>
        <div class="happy-adv"><strong>1,29,799+</strong> Happy Advertisers</div>
        <div class="ad-served">Online / Cash Payment </div>
        <div class="accre">Accreditation</div>
        <div class="clr"></div>
      </div>
		   -->
	<!-- <div id="homecart" style="float: left;margin: 5%;width: 48%; ">
		  	<blockquote>
		  		<h3>Book Newspaper Classified and Display Ads at best rates , get instant quotes</h3>
		  		<p class="lead"><span style="font-size:15px">Mail us your ad at support@@arihantbooking.com or whatsapp on 9456666690</span></p>
		  	</blockquote>
		  	<a href="#/compose-classified-Ad/0"  class="btn btn-large pull-right btn-success" >Book My Ads</a> 
        
		  </div>
		 -->
	<div class="">
		<!-- <div data-ng-include data-src="'sidebar.html'">
	
	</div> -->

		<div class="" style="">
			<div>
				<!-- <h3>New Products </h3> -->
				<div class="row-fluid" style="ackground-color: white;width: 80%;padding: 0%;margin-left: 5%">
					<div id="myCarousel1">
						<div style="margin-left: 4%;">
							<h3>Book Newspaper Ads for</h3>
						</div>
						<hr style="width:101%;margin: 0px;">
						<div class="carousel-inner"
							style="height: inherit; margin-left: 10%;">
							<div class="item active" style="background-color: #888888;">
								<ul>
									<li ng-repeat="np in nplist" class="span3">
										<!--  <div class="thumbnail" ng-model="bookingState.selectedNewsPaper" ng-click="onfirestNewspaperSelect(np)">
					   	<a href="#/compose-classified-Ad/0"> 
						<img class="mnt-np-logo" ng-src="{{np.img}}" alt=""/></a> -->
										<div class="caption" value="{{np.name}}">
											<a href="#/compose-classified-Ad/0">
											<lable
													style="color:blue;">{{np.name}}</lable></a>
										</div>
							</div>
							</li>
							</ul>
							<!-- </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Span End  -->
	</div>
	<!--Row end  -->
	<!-- <hr style="margin:0%;width:87%;"> -->
	<!-- Row start here -->
	<!-- <div class="row"
		style="background-color: #878887; margin: 0%;margin-top: 0%;margin-left: 0%;width: 87%;">
		<div style="float: left; width: 33%; margin-left: 2%;">
			<h5>Contact</h5>
			<div>
				<h5>07536066711</h5>
			</div>
		</div>
		<div style="float: left; width: 22%; margin-left: 5%">
			<h5>Follow Us</h5>
			<a target="_blank" href="https://www.facebook.com/ArihantBooking"><img
				class="img_custom" src="/NewDesign/homepagesImages/bg-facebook.png"
				style="background-color: #3b5998; width: 33px; cursor: pointer; float: left; margin-right: 1%;" /></a>
			<a target="_blank"  href="https://twitter.com/arihantbooking"><img
				class="img_custom" src="/NewDesign/homepagesImages/bg-twitter.png"
				style="margin-left: 2%; background-color: #00aced; width: 33px; cursor: pointer; float: left; margin-right: 1%;" /></a>
			<a target="_blank"  href="https://www.linkedin.com/company/arihantbooking"
				style="margin-left: 2%;""><img class="img_custom"
				src="/NewDesign/homepagesImages/lbg inked.jpg"
				style="margin-left: 2%; width: 33px; cursor: pointer; float: left; margin-right: 1%;" /></a>
			<a href="#/readENewspaper">Read E News paper</a> 
			<a href="#/">View Ad Rate In Various Newspapers</a> 
		   

		</div>
		<div style="float: left; width: 18%; margin-left: 13%;">
			<h5 style="margin-left: 22%;">Payment</h5>
			<img class="img_custom"
				src="/NewDesign/homepagesImages/card_1.png"
				style="margin-left: 2%; width: 75px; cursor: pointer; float: left; margin-right: 1%;" />
		<img class="img_custom"
				src="/NewDesign/homepagesImages/card_2.png"
				style="margin-left: 0%;  width: 75px; cursor: pointer; float: left; margin-right: 1%;" />
	
		
		</div>
	</div> -->
	<!-- Row start here -->
	<!-- <div class="row" style="background-color:#878887;margin: 0%;padding: 1%;">
<div style="float: left;width: 33%;"><h5>Contact</h5>
	<div><h5>07536066711</h5></div>
</div>
<div style="float: left;width: 22%;margin-left: 5%">
<h5>Follow Us</h5>
			<a href="https://www.facebook.com/ArihantBooking"><img  class="img_custom" src="/NewDesign/homepagesImages/bg-facebook.png" style="background-color: #3b5998;width: 33px;cursor: pointer;float: left;margin-right: 1%;" /></a> 
			<a href="https://twitter.com/arihantbooking" ><img class="img_custom" src="/NewDesign/homepagesImages/bg-twitter.png" style="margin-left: 2%;background-color: #00aced;width: 33px;cursor: pointer;float: left;margin-right: 1%;" /></a>  
			<a href="https://www.linkedin.com/company/arihantbooking" style="margin-left: 2%;""><img class="img_custom" src="/NewDesign/homepagesImages/lbg inked.jpg" style="margin-left: 2%;width: 33px;cursor: pointer;float: left;margin-right: 1%;"/></a>  
			<a href="#/readENewspaper">Read E News paper</a> 
			<a href="#/">View Ad Rate In Various Newspapers</a> 
		    

</div>
<div style="float: left;width: 18%;margin-left: 13%;"><h5>Payment</h5></div>
</div> -->
</div>
<!-- </div> -->
<div class="modal fade" id="userInfopopup" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Get a chance to win
					10 percent off coupon for Times of India Classifieds .</h4>
			</div>
			<div class="modal-body" id="">
				<div ng-show="showError == true" style="color: red">Please
					fill all details</div>

				<div>
					<div style="float: left; margin-right: 1%;">
						<label>Your Name</label> <input type="text" name="tempuserName"
							data-ng-model="tempuserName" required>
					</div>

					<div style="">
						<label>Your Mobile Number</label> <input type="text"
							name="tempuserMobnumber" data-ng-model="tempuserMobnumber"
							required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						data-ng-click="sendMailAboutGuestuser(tempuserName,tempuserMobnumber)">Submit</button>
					<button type="button" class="btn btn-default"
						data-ng-click=setCookie()>Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="classifiedUserInfo" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
	data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<!--  <h4 class="modal-title" id="myModalLabel"> Get a chance to win 20 percent off coupon for Times of India Classifieds .</h4>
		   -->
			</div>
			<div class="modal-body" id="">
				<div ng-show="showFieldError == true" style="color: red">Please
					fill all details</div>
				<div>
					<div style="float: left; margin-right: 1%;">
						<label>Name</label> <input type="text" name="tempuserName"
							data-ng-model="tempuserName" required>
					</div>

					<div style="">
						<label>Mobile Number</label> <input type="text"
							name="tempuserMobnumber" data-ng-model="tempuserMobnumber"
							required>
					</div>
					<div style="">
						<label>Note</label>
						<textarea rows="4" cols="50" style="width: 100%"
							name="tempuserNote" data-ng-model="tempuserNote"
							placeholder=" Example  Newspaper : Times Of India  ; Ad Size: 3*5 ,&nbsp;&nbsp;&nbsp;&nbsp;Ad Category : Matrimonial,&nbsp;&nbsp;&nbsp;&nbsp;Ad Content: Your Ad content,&nbsp;&nbsp;&nbsp;&nbsp;Publish Date :Your Ad publish date."></textarea>
						<label> Please mention Newspaper , Ad Size ,Ad Category,Ad
							content,Publish date , We will call you back in minutes .</label>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						data-ng-click="sendMailAboutClassifiedAd(tempuserName,tempuserMobnumber,tempuserNote)">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>


</div>
<script type="text/javascript">
	$(function() {
		$('#slideflash').vTicker();
	});
</script>

<style>
.span3 {
	margin-left: 0px !important;
}

.tag {
	right: 0;
}

.thumbnail:hover {
	border: 1px solid #65BDDF;
	background-color: #65BDDF;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.thumbnail img {
	max-width: 80%;
	padding: 5%;
	background-color: white;
	width: 264px;
	height: 39px;
}

.custom-img {
	height: auto !important;
	width: auto !important;
}

.padding {
	padding: 4px !important;
}

.thumbnail:hover {
	border: 1px solid white !important;
	background-color: white !important;
}


/* .label{
margin-bottom: 5px !important;
} */

	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	height: 250px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

</style>
