	@(message: String)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="mnt-html" ng-app="adschela" ng-controller="ApplicationController" xmlns="http://www.w3.org/1999/xhtml">

@main("") {
	<body class="mnt-body"  style="overflow-x: hidden;width: 100%;margin-left: 0%;">
		<div class="container mnt-container" style="margin-top: 0%; width: 100%;margin-left: 0px;padding-top: 0px;box-shadow: 2px 3px 5px 6px #ccc;padding-left: 0px; *">
         	<input type="hidden" ng-model="txtUsername" ng-init='setSession("@session().get("userName")")' value='@session().get("emailId")'/>
			<header id="header" style="width: 100%;display: block;padding: 0px;margin-left: 0%;border-bottom: 0px solid #444 !important;
				margin-bottom: 0px !important;">
    		<div class="container" style="width:100%;">
			<div class="">
				<div class="" style="margin-bottom: 0%;">
					<div style="float: left;height:87px;margin-left: 10%;width: 30%;" >
					<a href="#"><img src="assets/img/New Logo.jpg"
						
						alt="Bootsshop" /></a>
	             </div>
					<div style="float: left; margin-left: 10%; margin-top: 4%; font-weight: bold;">
						<a href="#"><label
							><span
								style="font-size: 16px; font-weight: bold;">For Enquires Call</span> <span
								style="font-size: 25px; font-weight: bold;">1800 270 5575</span> </label></a>
					</div>
					<div style="font-weight: bold; margin-top: 4%; float: left; margin-left: 6%; color: white; cursor: pointer; font-size: 15px;">
						<a href="#/contactUs" class="btn btn-mini active ng-binding"
							>Contact
							Us</a>
					</div>
				</div>
				</div>
				</div>
				<div class="clr"></div>
				<div class="navbar navbar-fixed-top" >
              <div class="navbar-inner" style="background:black;">
                <div class="container">
                 <a id="logoM" href="#"><!-- <img src="" alt="Bootsshop"/> --></a>
					<a data-target="#sidebar" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <div class="nav-collapse">
                    <ul class="nav" style="width:98%;margin-left: 7%;">
					  <li class=""><a href="#" style="color:white;">Home	</a></li>
					 <!--  <li class=""><a href="special_offer.html">Specials Offer</a></li> -->
					 <!--  <li class=""><a href="#/aboutUs" >About Us</a></li>
					  <li class=""><a href="#/contactUs" >Contact Us</a></li>
					 -->  <li class=""  ng-show="name != ''"><a href="#/myAccount" style="color:white;">My Ads</a></li> 
					  <li class=""><a  ng-click="showSpecialOffer();" data-toggle="modal"  style="cursor: pointer;color:white;">Special Offers	</a></li>
					 <!--  <li class=""><a href="#" data-toggle="modal" style="color:white;">Ad Samples	</a></li>
			 -->		<!--  <li class=""><a  href="#/contactUs"  style="color:white;">Contact Us	</a></li>
				 -->	
					 <!--   <li class=""><a href="#">Home	</a></li> -->
					  <!-- <li class=""  ng-show="name != ''" style="float: right;"><a href="/logout">Logout</a></li> 
					  --> <li ng-show="name == ''"  >
					  <a   ng-click="Login()" data-toggle="modal" style="cursor: pointer;color:white;" >Login </a>
					  </li>
					 <li ng-show="name == ''">
						<a  ng-click="Register()" data-toggle="modal" style="cursor: pointer;color:white;">Register </a>						
					 </li>
					 <li  ng-show="name != ''" style="padding-top: 0%;margin-left: 10%;">
						<a  href="#/contactUs"  style="color:white;">Welcome: 	{{name}}</a>					
					 </li>
					 <li class=""  ng-show="name != ''" style="margin-left:5%"><a href="/logout"style="color:white;">Logout</a></li> 
				
					 <div class="pull-right" style="margin-right: 18%;"> 
				<!-- <div style="width: 65%;  float: left;">
				<table>
                                        <tr>
                                       
                                            <td>
                                                <img alt="" src="Adsimage/phone.png" border="0" /></td>
                                            <td>
                                                +91 9456666690
											</td>
                                        </tr>
                                    </table>
				</div> -->
				
				<div style="">
				  	<a href="#/compose-classified-Ad/2" id="cartinheader"  style="cursor: pointer;">
					<strong class="btn btn-mini btn-warning" >  
					<i class="icon-shopping-cart icon-white"></i> [ {{carts.length}} ] </strong></a>
					<span class="btn btn-mini active" style="font-size: 12px;"> &#2352;.{{FinalTotal}}</span>
					<!-- <span class="btn btn-mini">&pound;</span>
					<span class="btn btn-mini">&euro;</span>  -->
					</div>
				</div>
				<!-- <li class=""  ng-show="name != ''" style="margin-left:5%"><a href="/logout">Logout</a></li> 
				 -->	 
					</ul>
					
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
            <!-- google analytics start here -->
           <script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			  ga('create', 'UA-57146221-1', 'auto');
			  ga('send', 'pageview');

			</script>
 			<!-- google analytics end here -->
            
            <!-- For chat  -->
            <!--Start of Zopim Live Chat Script-->
	     <!--   <script type="text/javascript">
	      window.$zopim||(function(d,s){var z=$zopim=function(c){
	       z._.push(c)},$=z.s=
	       d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      	 _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        	$.src='//v2.zopim.com/?2Rh5x98YLOaUI9ubozGzIiPbEgbL9DUA';z.t=+new Date;$.
	      type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
	     </script> End of Zopim Live Chat Script 
	      -->
	      
	     <!-- Google Code for chat Conversion Page -->
		<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 967317757;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "fBOXCPuz7lcQ_bGgzQM";
var google_remarketing_only = false;
/* ]]> */
</script> <script type="text/javascript"
			src="//www.googleadservices.com/pagead/conversion.js">
</script>
		<noscript>
			<div style="display: inline;">
				<img height="1" width="1" style="border-style: none;" alt=""
					src="//www.googleadservices.com/pagead/conversion/967317757/?label=fBOXCPuz7lcQ_bGgzQM&amp;guid=ON&amp;script=0" />
			</div>
		</noscript>
		</header>

		<div id="mainBody" class="container" ng-view=""
			style="min-height: 500px;">
			
			</div>

		<!-- Footer ------------------------------------------------------ -->
	<!-- 	<hr class="soft" style="width: 100%; margin-left: 0%; margin: 0px;"> -->
			<!-- <div class="row" style="background-color:#878887;margin: 0%;padding: 1%;margin-left: 0%;">
<div style="float: left;width: 33%;margin-left: 2%;"><h5>Contact</h5>
	<div><h5>07536066711</h5></div>
</div>
<div style="float: left;width: 22%;margin-left: 5%">
<h5>Follow Us</h5>
			<a href="https://www.facebook.com/ArihantBooking"><img  class="img_custom" src="/NewDesign/homepagesImages/bg-facebook.png" style="background-color: #3b5998;width: 33px;cursor: pointer;float: left;margin-right: 1%;" /></a> 
			<a href="https://twitter.com/arihantbooking" ><img class="img_custom" src="/NewDesign/homepagesImages/bg-twitter.png" style="margin-left: 2%;background-color: #00aced;width: 33px;cursor: pointer;float: left;margin-right: 1%;" /></a>  
			<a href="https://www.linkedin.com/company/arihantbooking" style="margin-left: 2%;""><img class="img_custom" src="/NewDesign/homepagesImages/lbg inked.jpg" style="margin-left: 2%;width: 33px;cursor: pointer;float: left;margin-right: 1%;"/></a>  
			<a href="#/readENewspaper">Read E News paper</a> 
			<a href="#/">View Ad Rate In Various Newspapers</a> 
		    

</div>
<div style="float: left;width: 18%;margin-left: 13%;"><h5>Payment</h5>
<img class="img_custom" src="/NewDesign/homepagesImages/3d-secure-logos.png" style="margin-left: 2%;background-color: #00aced;width: 150px;cursor: pointer;float: left;margin-right: 1%;" />
</div>
</div> -->
<div  id="footerSection" style="border: Solid 1px #EBDBAA;margin-bottom: 0%;background-color:#ccc;width: 100%;margin-left: 0%;">
	<div class="row" style="margin-left:1%">
		<!-- <div class="span3 custom_span">
			<h5>HOME</h6>
			<a href="#/aboutUs">About Us</a>
			<a href="#/ourClient">Our Client</a> 
			<a href="#/ourServices">Our Services</a> 
			<a href="#/contactUs">Contact Us</a>  
			<a ng-if='!(@session().containsKey("userName"))' ng-click="Register()" data-toggle="modal">Register</a>
			<a href="#/ourBlogs">Blog</a>
		 </div> -->
		<div class="span11">
		<div style="float:left;width: 100%;background-color:#ccc">
		<div style="float: left; width: 20%; margin-left: 3%">
			<h5>Follow Us</h5>
			<a target="_blank" href="https://www.facebook.com/ArihantBooking"><img
				class="img_custom" src="/NewDesign/homepagesImages/bg-facebook_optimized.png"
				style="background-color: #3b5998; width: 33px; cursor: pointer; float: left; margin-right: 1%;" /></a>
			<a target="_blank"  href="https://twitter.com/arihantbooking"><img
				class="img_custom" src="/NewDesign/homepagesImages/bg-twitter_optimized.png"
				style="margin-left: 2%; background-color: #00aced; width: 33px; cursor: pointer; float: left; margin-right: 1%;" /></a>
			<a target="_blank"  href="https://www.linkedin.com/company/arihantbooking"
				style="margin-left: 2%;""><img class="img_custom"
				src="/NewDesign/homepagesImages/lbg_inked_optimized.jpg"
				style="margin-left: 2%; width: 33px; cursor: pointer; float: left; margin-right: 1%;" /></a>
			<!-- <a href="#/readENewspaper">Read E News paper</a> 
			<a href="#/">View Ad Rate In Various Newspapers</a> 
		    -->

		</div>
		<div  style="width: 40%;float: left;margin-left:14%;margin-top: 2%;">
	<!-- 	<span id="imagetg"style="float: left;width:25%;margin-right: 21%;"><a href="#"><img src="assets/img/New_logo.gif"   style="float:left ; height: 40px; width:100%"alt="Bootsshop"/></a></span>
	 -->		<!-- <h5>Quick Links</h5> -->
			<div style=" margin:0 auto;" >
			<span style="float: left;width:14%;"><a href="#/aboutUs" >About Us</a></span>
		    <span style="float: left;width:15%;"><a href="#/contactUs" >Contact Us</a></span>
		    <span style="float: left;width:22%;"><a ng-if='!(@session().containsKey("userName"))' href="#myModal" data-toggle="modal" >Registered User</a></span>
			<span style="float: left;width:16%;"><a  ng-if='!(@session().containsKey("userName"))' href="#mySignUp" data-toggle="modal">Guest user</a></span>
			<span style="float: left;width:12%;"><a href="#/ourBlogs">Blog</a></span>
			</div>
			<!-- <a href="#/" style="float:left;margin-right: 2%;">Advertising Policy</a>
			 -->
			<!--  <span style="float: left;width:7%;"><a href="#/privacyPolicy" style="float:left;margin-right: 2%;">Privacy Policy </a></span> 
		 -->	<!--  <a href="#/deClaimer" style="float:left;margin-right: 2%;">Disclaimer</a> 
			 <a href="#/termsAndConditions" style="float:left;margin-right: 2%;">Terms and Conditions</a>  
		 -->
		<!-- <a href="#/paymentGateway">Payment Gateway </a>  -->
				<!-- <a href="#/" style="float:left;margin-right: 2%;">FAQ's </a>
					<a href="#/" style="float:left;margin-right: 2%;">Feedback </a>  -->		
					<!-- 	<a href="#/help">How to Book an Ad</a> -->
			<!-- <a href="#/help">How to Book an Ad</a> -->
			</div>
			<div style="float: right; width: 15%; margin-left: 0%;">
			<h5 style="margin-left: 22%;">Payment</h5>
			<img class="img_custom"
				src="/NewDesign/homepagesImages/card_1_new.png"
				style="margin-left: 2%; width: 75px; cursor: pointer; float: left; margin-right: 1%;" />
		<img class="img_custom"
				src="/NewDesign/homepagesImages/card_2_new.png"
				style="margin-left: 0%;  width: 75px; cursor: pointer; float: left; margin-right: 1%;" />
	
		
		</div>
		<!--  </div>
		 <div class="span3 ">
			<div style="margin-left: 38%;">
			<h5>Follow Us</h5>
			<a href="https://www.facebook.com/ArihantBooking"><img  class="img_custom" src="/NewDesign/homepagesImages/bg-facebook.png" style="background-color: #3b5998;width: 33px;cursor: pointer;float: left;margin-right: 1%;" /></a> 
			<a href="https://twitter.com/arihantbooking" ><img class="img_custom" src="/NewDesign/homepagesImages/bg-twitter.png" style="margin-left: 2%;background-color: #00aced;width: 33px;cursor: pointer;float: left;margin-right: 1%;" /></a>  
			<a href="https://www.linkedin.com/company/arihantbooking" style="margin-left: 2%;""><img class="img_custom" src="/NewDesign/homepagesImages/lbg inked.jpg" style="margin-left: 2%;width: 33px;cursor: pointer;float: left;margin-right: 1%;"/></a>  
			<a href="#/readENewspaper">Read E News paper</a> 
			<a href="#/">View Ad Rate In Various Newspapers</a> 
		    
		    </div>
		 </div> -->
		 <div id="copyright" style="margin-top: 6%;">
		 <span style="font-size: 10px;  float: left;width:60%;">
			 Copyright  &copy;  2014 - 2015 www.ArihantBooking.com, All Rights Reserved.
			</span>
		 </div>
		 </div>
		 
		<!--  <div class="span3 ">
			<h5>Follow Us</h5>
			<a href="https://www.facebook.com/ArihantBooking">Text Classified Ad</a> 
			<a href="https://twitter.com/arihantbooking">Classified Display Ad</a>  
			<a href="https://www.linkedin.com/company/arihantbooking">Display Ads</a>  
			<a href="#/readENewspaper">Read E News paper</a> 
			<a href="#/">View Ad Rate In Various Newspapers</a> 
		    
		 </div> -->
		
		<!-- <div  class="span3 custom_span" >
			<h5>USER LOGIN </h5>
			<a href="#/affilatedLogin">Afiilated Login</a>
				<a ng-if='!(@session().containsKey("userName"))' href="#myModal" data-toggle="modal" >Registered User</a>
			<a  ng-if='!(@session().containsKey("userName"))' href="#mySignUp" data-toggle="modal">Guest user</a>
			
		 </div>  -->
	 </div>
	<!--  <hr class="soft" style=" padding-left: -12%;width: 90%;margin-left: 5%;"/>
	<p class="pull-right">&copy; Boot'sshop</p> -->
</div>
<div id="left3" style="line-height:15px;">
		<!--Jagbir Singh Sir,Akash Shinde,Pankaj Muneshwar  -->
     <!--  <P style="text-align: center;font-size: 10px; margin: 0px 0 0px !important;">Copyright © 2014 - 2015 www.ArihantBooking.com, All Rights Reserved.</P>
      --> <!-- <P style="text-align: center;font-size: 10px; margin: 0px 0 0px !important;">Designed and Developed by  <a href= "" onclick="window.top.location='http://www.mindnerves.com';return false;" target="_top">MindNerves Technology</a></P>
  -->   </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script type="text/javascript">
    $(function() {
        $('#gallery a').lightBox();
    });
    </script>
	


	  
	
<!-- sign in popup begins -->

<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:100000;" >
  	  <div class="modal-header" style="border-bottom: 0px solid #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
         <h4>Login </h4>
         <h6 id="login_error" style="color:red;">Seems you have entered wrong details.</h6>
      </div>
      
      <form name="aspnetForm" method="post" action="/checkSignIn" id="aspnetForm" class="form-horizontal">
       <div class="modal-body" style="overflow: hidden;">
       <div class="control-group">
	    <label class="control-label" for="inputEmail">Email</label>
	    <div class="controls">
	      <input name="txtUsername" type="text" ng-model="email"  id="txtUsername"  placeholder="Email Id" />
	    </div>
	   </div>
	   <div class="control-group">
	    <label class="control-label" for="inputPassword">Password</label>
	    <div class="controls">
	      <input name="txtpwd" type="password" id="txtpwd" placeholder="Password" />
	    </div>
	   </div>
	   <a ng-click=forgotpass(email) style="margin-left: 30%;cursor: pointer;">Forgot your password?</a>
	   <label ng-show="Send" style="color: green;margin-left: 64%;">Password Send On Your Mail </label>
	   </div>
	   <div class="modal-footer">
    	<button type="submit" class="btn btn-primary">Login</button>
  	   </div>
	</form>
	
 </div>

<!--  sign in popUp  end -->


<!-- sign up opop up begin -->


 <div class="modal hide" id="mySignUp" style="z-index: 10000;width: 30%;left: 58%;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header" style="border-bottom: 0px solid #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        
      </div>

<form name="signUpForm" method="post" action="/saveSignUp" id="signUpForm">
      <div class="modal-body" style="overflow: hidden;left: 64%;width: 90%;">
       <div style="text-align: right">
                <!--     <input type="image" name="ctl00$ibtnclose1" id="ctl00_ibtnclose1" src="images/close_pop.png" border="0" /> --></div>
                <div style="color: #65BDDF; font-weight: bold; font-family: Calibri; font-size: 25px;
                    text-align: center;margin-bottom: 15px">
                    SignUp Form</div>
                <fieldset class="textboxnew" style="padding-left: 10%;">
                    <label>
                        <span class="custom-lable">Full Name</span>
                        <input name="txtUserids" type="text" id="txtUserids" autocomplete="on" placeholder="Full Name"  required/>
                            </label>
                    <label>
                        <span class="custom-lable">Email</span>
                        <input name="txtEmail" type="text" id="txtEmail" placeholder="Email"  required/>
                       
                        <span id="userEmailIdError" style="display: none;color: green;margin-left: 1%;"> Available  </span>
                    	<span id="userEmailId" style="display: none;color: red;margin-left: 1%;"> Email Id already exists  </span>
                   </label>
                    <label>
                        <span class="custom-lable">Password</span>
                        
                        <input name="txtpasswords" type="password" id="txtpasswords"  ng-model="txtpasswords" ng-required="" placeholder="Password" />
           </label>
                    <label>
                        <span class="custom-lable">Confirm Password</span>
                        <input name="txtconfirmpassword" type="password" id="txtconfirmpassword"  ng-model="txtconfirmpassword" ng-required="" pw-check="txtpasswords" placeholder="Confirm Password" />
                        
            </label><div class="msg-block" ng-show="signUpForm.$error">
	                <span class="msg-error" ng-show="signUpForm.txtconfirmpassword.$error.pwmatch" style="margin-left: 26%; color:red">
		                 Passwords don't match.
	                     </span>
                   </div>
                    <label>
                        <span class="custom-lable">Mobile No</span>
                        <input name="txtMobileno" type="text" id="txtMobileno" placeholder="Mobile No" autocomplete="on" required />
            </label>
                    &nbsp;<span id="ctl00_lblmsg"><font color="Red"></font></span>
                    <br />
                    <input type="submit" class="btn btn-success" name="signupform" value="Submit"   style="cursor: pointer;margin-left: 25%;" />
                </fieldset>
            </div>
      </form>
    </div>
 
  
<!--sign up pop up ends  -->
	  
	  <div class="modal fade" id="getUserInfoPopup" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Get a chance to win
					10 percent off coupon for Times of India Classifieds .</h4>
			</div>
			<div class="modal-body" id="">
				<div ng-show="showError == true" style="color: red">Please
					fill all details</div>

				<div>
					<div style="float: left; margin-right: 1%;">
						<label>Your Name</label> <input type="text" name="tempuserName"
							data-ng-model="tempuserName" required>
					</div>

					<div style="">
						<label>Your Mobile Number</label> <input type="text"
							name="tempuserMobnumber" data-ng-model="tempuserMobnumber"
							required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						data-ng-click="sendMailAboutuserInfo(tempuserName,tempuserMobnumber)">Submit</button>
					<!-- <button type="button" class="btn btn-default"
						data-dismiss="modal">Cancel</button> -->
				</div>
			</div>
		</div>
	</div>
</div>
	  
</div>	  
</body>	  
}
<style>

.btn{
cursor: default;
}
.img_custom{
height: 30px;
float: left;
}
</style>

<script type="text/javascript">
                composeButtonGoogleAction = function() {
                                var w = window;
                                w.google_conversion_id = 967317757;
                                w.google_conversion_label = "xW_iCPq17lcQ_bGgzQM";
                                w.google_remarketing_only = false;
                                w.google_conversion_color = "ffffff";
                }
				onComposeAdButtonClicked = function(url) {
                composeButtonGoogleAction();
                window.google_conversion_format = "3";
                window.google_is_call = true;
                var opt = new Object();
                opt.onload_callback = function() {
                                if (typeof(url) != 'undefined') {
                                                window.location = url;
                                }
                }
 
                var conv_handler = window['google_trackConversion'];
                if (typeof(conv_handler) == 'function') {
                                conv_handler(opt);
                }
}
 
</script>
 
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js
</script>


<script type="text/javascript">
$(document).ready(function(){
	
	$("#cartinheader").click(function(){
		$("#sidebar a").click();
	});
	
 @if(flash.contains("login_error")) {
	 $('#myModal').modal('show');
	 $('#login_error').show();
 } 
 
 @if(!(flash.contains("login_error"))) {
	 $('#login_error').hide();
	 window.alert(5 + 6);
 }	
 
 jQuery.validator.addMethod("lettersonly", function(value, element){ 
			
 return this.optional(element) || /^[a-z," "]+$/i.test(value);

 }, "Letters and spaces only please");  
 
  $("#aspnetForm").validate({
			  
         rules:{
        	     txtUsername: {
        	   		email: true,
		         	required: true
		  		 },
	           },
		messages: {
			txtUsername: "Please enter email properly"
		          }   
		}); 
 
  $( "#signUpForm" ).validate({
	  
     rules:{
            
    	 txtUserids: {
    	 lettersonly: true,	 
    	 required: true
	  		 },
	  	 txtEmail:{
	  		 email:true,
	  		 required:true,
	  		 /*remote: function() {  
	         var r = {  
	            			
	         url: '/validateUsernameUnique',  
	         type: "POST",  
	         success:function(data) {
			//alert("alert::   "+data);
			    if(data)
				{
				$("#userEmailId").show();
				$("#userEmailIdError").hide();
				}
				else{
				$("#userEmailId").hide();
				$("#userEmailIdError").show();
					}
	            }
	          }   
	         return r;  
	              
	        }, */

	  	 },
	  	 txtpasswords: {
		 required: true
		    },
		 txtMobileno: {
		 required: true,
         digits: true 
        
		       }
           },
	 messages: {
		 txtUserids: "Please enter name properly",
	     txtMobileno:"Please enter mobile in proper format" ,
	     txtpasswords:"Please enter Password",
	     txtEmail:"Please enter email  properly"
	   }   
	});
	
});
</script>




<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"5hSGi1a8Dy00gO", domain:"arihantbooking.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=5hSGi1a8Dy00gO" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->  
</script>
</html>




