@(title: String)(content: Html)
<head>
<script src='bower_components/angular/jquery.js'></script>
<script src='bower_components/angular/jquery.validate.min.js'></script>
<script src='bower_components/angular/angular.js'></script>
<script src='bower_components/angular-resource/angular-resource.js'></script>
<script src='bower_components/angular/bootstrap.min.js'></script>

<link href='bower_components/angular/bootstrap.min.css' type='text/css' rel='Stylesheet' />
<link href='bower_components/angular/bootstrap-theme.min.css' type='text/css' rel='Stylesheet' />
</head>

 
    
@content

<script src='lib/js/app.js'></script>
<script src='lib/js/controllers.js'></script>
    
