@(beData:String)


<div class="row" ng-init='init(@Html(beData))'>

	<div class="span9">
		
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 mnt-shadow-deco">
          <div rc-wizard="sampleWizard" rc-disabled="rc.firstForm.submitInProgress">
           
           <ul class="nav rc-nav-wizard" style="background-color: #f9f9f9;margin-bottom: 1%;">
           
              <li class="active" style="float:left;">
                <a class="active custom-font" href="#first" ng-click="rc.sampleWizard.first()" data-toggle="tab" style="float: left;height: 17px;border: 0px solid black;">
                  <!-- <span class="badge">1</span> -->
                  <span >Select Category</span>
                </a>
                <span class="breadcrumb_arrow"></span>
              </li>
              <li style="float:left;">
                <a class="custom-font" href="#second" ng-click="rc.sampleWizard.moveTo(1)" data-toggle="tab"  style="float: left;height: 17px;border: 0px solid black;">
                 <!--  <span class="badge">2</span> -->
                  <span>Pick Your Package</span>
                </a>
                <span class="breadcrumb_arrow"></span>
              </li>
              <li style="float:left;">
                <a class="custom-font" href="#third" ng-click="rc.sampleWizard.moveTo(2)" data-toggle="tab"  style="float: left;height: 17px;border: 0px solid black;">
                 <!--  <span class="badge">3</span> -->
                  <span>Ads Summary</span>
                </a>
                <span class="breadcrumb_arrow"></span>
              </li> 
              
               <li style="float:left;">
                <a class="custom-font" href="#fourth" data-toggle="tab"  style="float: left;height: 17px;border: 0px solid black;">
                 <!--  <span class="badge">3</span> -->
                  <span>Login</span>
                 </a>
                  <span class="breadcrumb_arrow"></span>
              </li>
              <li style="float:left;">
                <a class="custom-font" href="#fifth" data-toggle="tab"  style="float: left;height: 17px;border: 0px solid black;">
                 <!--  <span class="badge">3</span> -->
                  <span>Payment Details</span>
                </a>
              </li>
             
            </ul>
            <span id="loading-id"><img src="images/loading.gif"/></span>
            <div class="tab-content" style="margin-left: 10px;">
              
              <form class="tab-pane active" id="first" name="firstForm"   rc-step novalidate>
                     
                <div class="tab-pane active" id="blockView">
				<ul class="thumbnails">
					<li ng-repeat="cat in bookingRequest.categories" class="span3">
					  <div class="thumbnail" ng-click="onCatSelected(cat)">
						<a >
						<img style="max-width: 35%;" class="img-circle img-thumbnail" src="Category/{{cat}}.jpg" alt=""></a>
						<div class="caption">
						  <p> 
							{{cat}} 
						  </p>
						  
						</div>
					  </div>
					</li>
			     </ul>
				<hr class="soft">
				</div>
              </form>
              
              
              <form class="tab-pane" id="second" name="secondForm"  rc-step>
                	
                <tabset>
			    <tab heading="Select Your Newspaper">
			   <!--  <p>{{checkMatrimonial}}</p> -->
			    <div ng-show="checkMatrimonial">
			     <select class="mnt-select" style="margin-top: 1%;">
			    		<!-- <option ng-repeat="newspaper in bookingRequest.newspapers" value="{{newspaper}}">{{newspaper}}</option> -->
			    		<option value="">--Select Cast--</option>
			    		<option selected="selected" value="1">Agarwal</option>
						<option value="2">Agarwal- Bisa</option>
		    			<option value="3">Bahai</option>
						<option value="4">Bari</option>
						<option value="5">Brahmin</option>
			    		<option value="6">Chandravanshi Kshatriya</option>
						<option value="7">Chaurasia</option>
						<option value="8">Ckp</option>
						<option value="9">Dhobi</option>
						<option value="10">Garhwali</option>
						<option value="11">Gsb</option>
						<option value="12">Gujar</option>
					    <option value="13">Gujarati Patidar</option>
						<option value="14">Gujarati Vaishnav</option>
						<option value="15">Gurjjar</option>
						<option value="16">Jain</option>
						<option value="17">Jaiswal</option>
						<option value="18">Jaiswal (Raj)</option>
						<option value="19">Jatav</option>
						<option value="20">Kashyap</option>
						<option value="21">Kayastha</option>
						<option value="22">Khatri</option>
						<option value="23">Khukhrain</option>
						<option value="24">Kshatriya</option>
						<option value="25">Kumauni</option>
						<option value="26">Kurmi</option>
						<option value="27">Kutchi</option>
						<option value="28">Lingayat</option>
						<option value="29">Mahajan</option>
						<option value="30">Maheshwari</option>
						<option value="31">Mallah</option>
						<option value="32">Maurya</option>
						<option value="33">Mina</option>
						<option value="34">Mogaveera</option>
						<option value="35">Pal</option>
						<option value="36">Panchar Sutar</option>
						<option value="37">Pasi</option>
						<option value="38">Paswan</option>
						<option value="39">Prajapati</option>
						<option value="40">Punjabi</option>
				    	<option value="41">Sahu-Teli</option>
						<option value="42">Saini</option>
					    <option value="43">Saryuparin</option>
						<option value="44">Shivhare</option>
					    <option value="45">Swarnkar</option>
						<option value="46">Vaish</option>
						<option value="47">Varshney</option>
						<option value="48">Vishwakarma Panchal</option>
						<option value="49">Yadav</option>
			    	</select>
			    	 <select class="mnt-select" style="margin-top: 1%;">
			    		<!-- <option ng-repeat="newspaper in bookingRequest.newspapers" value="{{newspaper}}">{{newspaper}}</option> -->
			    		<option value="">--Select Age--</option>
			    		<option selected="selected" value="1">18-21 Age</option>
		<option value="2">22-29 Age</option>
		<option value="3">30-39 Age</option>
		<option value="4">40-49 Age</option>
		<option value="5">50-59 Age</option>
		<option value="6">60-69 Age</option>
		<option value="7">70-79 Age</option>
		<option value="8">80-89 Age</option>
			    		
			    	</select>
			    	
			    	</div>
			    	<select ng-show="resultSubCategory.length != 0" class="mnt-select" style="margin-top: 1%;">
			    		 <option ng-repeat="scat in resultSubCategory" value="{{newspaper}}">{{scat}}</option>
			    		<option value="">--Please Select Subcategory--</option>
			    	</select>
			    	
			    	<select class="mnt-select" style="margin-top: 1%;" ng-model="bookingState.selectedNewsPaper" ng-change="onNewspaperSelect()">
			    		<option ng-repeat="newspaper in bookingRequest.newspapers" value="{{newspaper}}">{{newspaper}}</option>
			    		<option value="">--Please Select Newspaper--</option>
			    	</select>
			    	<img src="/NewDesign/images/np-icon.jpg" style="width: 6%;"/>
			    	<div class="well">
			    	
			    	  <tabset>
			    	   <!-- class="icon-search" -->
			    	  <tab>
			    	   <tab-heading>
                        <i class="icon-tags"></i> Basic Rate
                       </tab-heading>
			    	   
			    	   <div ng-show="rates.length > 0" class="backcolo">
			    	  
			    		<ul ng-show="rates.length > 0" >
			    		<div class="Internal">
			    			<li ng-repeat="rate in rates" class="pillboxes custom-pill" >
			    				<div  style="padding: 1px;">
			    					 <span>
        								<input ng-click="rateClicked($event,rate)" ng-model="rate.isSelected" style="margin: 1px"  type="checkbox">
     								 </span>
     								 <span>{{rate.location}} - Rs {{rate.rate}} {{rate.unitVal}} / 
			    					{{rate.unit}} </span>
			    				</div>	
			    				
			    			</li>
			    			</div>
			    		</ul>
			    		</div>
			    		<div ng-show="rates.length == 0" class="alert alert-block">
			    			No Rates Available !
			    		</div>
			    	   </tab>
			    	   <tab>
			    	   <tab-heading>
                        <i class="icon-gift"></i> Discounted Rate
                     </tab-heading>
			    	   <div ng-show="drates.length > 0" class="backcolo">
			    		<ul ng-show="drates.length > 0">
			    		<div class="Internal">
			    			<li ng-repeat="rate in drates" class="pillboxes custom-pill">
			    				<div  style="padding: 1px;">
			    					 <span >
        								<input style="margin: 1px" ng-model="rate.selected" type="checkbox">
     								 </span>
     								 <span>{{rate.city}} - Rs {{rate.amount}}  {{rate.unitVal}}/
			    					{{rate.unit}} </span>
			    				</div>	
			    				
			    			</li>
			    			</div>
			    		</ul>
			    		</div>
			    		<div ng-show="drates.length == 0" class="alert alert-block">
			    			No Rates Available !
			    		</div>
			    	   </tab>
			    	  </tabset>
			    	</div>
			    	
			    </tab>
			    <tab ng-click="tabchange()" heading="Target by specific City">
			    	<select class="mnt-select" style="margin-top: 1%" ng-model="bookingState.selectedState" ng-change="onStateSelect()">
			    		<option ng-repeat="state in bookingRequest.locations" value="{{state}}">{{state}}</option>
			    		<option value="">--Please Select State--</option>
			    	</select>
			    	<select class="mnt-select" style="margin-top: 1%" ng-model="bookingState.selectedCity" ng-change="onCitySelect()">
			    		<option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
			    		<option value="">--Please Select City--</option>
			    	</select>
			    	<!-- TODO: take this image to local -->
			    	<img style="height: 56px;width: 5%;" src="images/aTqeyyyBc.png" alt="">
			    	
			    	<div class="well">
			    	
			    	  <tabset>
			    	   <tab>
			    	   <tab-heading>
                        <i class="icon-tags"></i> Basic Rate
                     </tab-heading>
			    	   <div ng-show="rates.length > 0 " class="backcolo">
			    		<ul ng-show="rates.length > 0" >
			    		<div class="Internal">
			    			<li ng-repeat="rate in rates" class="pillboxes custom-pill">
			    				<div  style="padding: 1px;">
			    					 <span >
        								<input ng-click="rateClicked1($event,rate)" ng-model="rate.isSelected" style="margin: 1px"  type="checkbox">
     								 </span>
     								 <span>{{rate.newspaper}} - Rs {{rate.rate}} {{rate.unitVal}}/
			    					{{rate.unit}} </span>
			    				</div>	
			    				
			    			</li>
			    			</div>
			    		</ul>
			    		</div>
			    		<div ng-show="rates.length == 0" class="alert alert-block">
			    			No Rates Available !
			    		</div>
			    	   </tab>
			    	   <tab>
			    	   <tab-heading>
                        <i class="icon-gift"></i> Discounted Rate
                     </tab-heading>
			    	  
			    	   <div ng-show="drates.length > 0" class="backcolo">
			    		<ul ng-show="drates.length > 0">
			    		<div class="Internal">
			    			<li ng-repeat="rate in drates" class="pillboxes custom-pill">
			    				<div  style="padding: 1px;">
			    					 <span >
        								<input style="margin: 1px" ng-model="rate.selected" type="checkbox">
     								 </span>
     								 <span>{{rate.city}} - Rs {{rate.amount}}&nbps;&nbps;&nbps;&nbps;&nbps;&nbps;{{rate.unitVal}} /
			    					{{rate.unit}} </span>
			    				</div>	
			    				
			    			</li>
			    			</div>
			    		</ul>
			    		</div>
			    		<div ng-show="drates.length == 0" class="alert alert-block">
			    			No Rates Available !
			    		</div>
			    	   </tab>
			    	  </tabset>
			    	</div>
			    	
			    </tab>
			    
			  </tabset>
			  <!--TODO: Take image to local  -->
			  <img data-ng-show="carts.length > 0"  data-ng-click="rc.sampleWizard.forward()" class="mnt-proceed-btn" src="images/proceed-button.png"/>
              </form>
              <p ng-show="errorDesc" style="color:red">Please compose all your pending Ad before proceding </p>
              <!--  <p style="color:red">{{errorDesc}}</p> -->
               <p ng-show="errorDate" style="color:red">Please compose all your pending Ad before proceding </p>
              <form class="tab-pane" id="third" name="thirdForm" rc-step novalidate >
                <h3 class="pull-left">Compose Your Ad</h3>
                <img class="pull-left" style="width: 4%;" src="/NewDesign/images/np-compose.jpg" >
                <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>City/Newspaper</th>
                  <th>Description</th>
                  <th>To Be Published On</th>
                  <th>Compose/Update</th>
				  <th>Price/Unit</th>
                  <th>Total</th>
				</tr>
              </thead>
              <tbody>
                <tr ng-repeat="c in carts">
                  <td>{{c.mainCategoty}}</td>
                  <td>{{c.location}} - {{c.newspaper}}</td>
                  <td><span tooltip="{{description == '' ? 'Not Set' : c.description}}"  ng-bind="c.description == '' ? 'Not Set' : c.description|limitTo:40" style="color:red"></span><a ng-click="composeAd(c)" style="cursor: pointer;">...</a></td>
                  
                  <td><!-- <a href="http://www.w3schools.com">Visit W3Schools.com!</a> -->
                  	<span ng-show="c.dates.length == 0" style="color:red">Not set</span>
                  	<span ng-repeat="cd in c.dates" class="dates-coll label label-warning" 
                       data-ng-bind="formatDate(cd)"></span>
                  </td>
                  <td>
              <!--     <span ng-show="" style="color:red;font-size: 11pt;font-family: Calibri;">Click to Compose</span> -->
                  <button ng-class="c.completenessStatus ? 'btn btn-danger' :'btn btn-success'"  ng-click='composeAd(c)'>Compose <i class="icon-edit"></i></button></td>
                  <td>{{c.rate}} / {{c.unitVal}} {{c.unit}}</td>
                  <td>{{c.fullTotal}}</td>
                </tr>
				
				</tbody>
            </table>
            <button ng-click="checkForAdDetailsFilled();" class= "btn btn-primary"> continue</button>
              </form>
              
     <form class="tab-pane" id="fourth" name="fourthForm"  rc-step>
               <!-- messagee shown when user are valid  -->
            <div style="float: left;">  
              <b>Username:</b>&nbsp;&nbsp;  <input type="text" ng-model="userId" name="username">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <p ng-show="result" style="color:red">Please enter valid credentials</p>
              </div>
              <div ng-show="showFieldsVar" >
                  <b>Password:</b>&nbsp;&nbsp;   <input type="password" ng-model="userpass" name="password">
                  <div style="margin-left: 45%;"s>
                  <input type="checkbox" name="remberuser" value="remember">
                  <span style="font-size: 9pt;font-family: Calibri;">Remember me</span>&nbsp;&nbsp;&nbsp;
                  <a href="#" style="font-size: 9pt;font-family: Calibri;">Forgot your password?</a>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                 </div>
              </div>
               <br />
              <div style="width: 100%;float: left;">    <input type="radio" name="chk" value="withoutpassword" ng-checked="checked" ng-model="userwithoutaccount" ng-click="showfieldsonlyusername();" style="margin-left:7%;"><b >&nbsp;Continue without password</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="chk" value="withpassword" ng-model="userwithaccount" ng-click="showfields();"><b>&nbsp;I have Adschela account and passsword </b> <br>
                  <div>
                  <span style="font-size: 9pt;font-family: Calibri;margin-left: 12%;">(Don't have account yet)</span>
                  <span style="font-size: 9pt;font-family: Calibri;margin-left: 25%;">Sign in to your account to get benefits</span><br>
                 </div>
                  </div><br />
                 <input class="btn btn-primary" type="submit" value="Continue" data-ng-click="checkForUsernameAndPassword()"style="background-color: #0044cc;margin-left: 7%;"> 
      </form>
              
      <form class="tab-pane" id="fifth" name="fifthForm" rc-submit="completeWizard()" rc-step>
	     	<div > <input type="radio" name="chk" value="cod" data-ng-checked="checked" ng-model="modeOfPayment" ng-click="showHomeShipingDetails();" style="margin-left:7%;"><b >&nbsp;Collect cash form home</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   </div>
                     <div  > <input type="radio" name="chk"  value="cc" data-ng-checked="checked" ng-model="modeOfPayment" ng-click="showDebitShipingDetails();" style="margin-left:7%;"><b >&nbsp;Credit/Debit card   </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
                   <div align="center"  ng-show="showHomeshipping" >
			
		<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;">Pincode *:</p> <input type="pincode" ng-model="address.pinCode" name="pinCode" />
     </div>
	  <div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;">	Full Name *:</p> <input type="text" ng-model="address.fullName" name="fullName" /><br/>
      </div>
	  <div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;">	Shipping Address *:</p> <input type="text" ng-model="address.shippingAddress" name="shippingAddress" />
      </div>
		<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;">Nearest Landmark *:</p> <input type="text" ng-model="address.nearestLandmark" name="nearestLandmark" /><br/>
      </div>
		<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;">City *: </p><input type="text" name="city" ng-model="address.city" />
      </div>
		<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;"> State/Region/Province *: </p><input type="text" ng-model="address.state" name="state" /><br/>
      </div>
		<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;;">Mobile: </p><input type="text" ng-model="address.mobile" name="mobile" />
      </div>
		<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;">Landline *:</p> <input type="text" ng-model="address.landline" name="landline" />
       </div>
			<br/>
          
		  </div>
		  
         
	     	 <div align="center"  ng-show="showDebitCardshipping" >
			
			<div style="width: 45%;float: left"><p style="float: left;width: 35%;text-align: left;">Pincode *: </p><input type="pincode" ng-model="address.pinCode" name="pinCode" />
 </div>
			<div style="width: 45%;float: left"><p style="float: left;width: 35%;text-align: left;"> Full Name *:</p> <input type="text" ng-model="address.fullName" name="fullName" /><br/>
 </div>
		<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;">Shipping Address *: </p><input type="text" ng-model="address.shippingAddress" name="shippingAddress" />
 </div>
		<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;;">Nearest Landmark *:</p> <input type="text" ng-model="address.nearestLandmark" name="nearestLandmark" /><br/>
 </div>
			<div style="width: 45%;float: left"><p style="float: left;width: 35%;text-align: left;;">City *:</p> <input type="text" name="city" ng-model="address.city" />
 </div>
		<div style="width: 45%;float: left"><p style="float: left;width: 35%;text-align: left;">	State/Region/Province *:</p> <input type="text" ng-model="address.state" name="state" /><br/>
 </div>
		<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;;">Mobile: </p><input type="text" ng-model="address.mobile" name="mobile" />
 </div>
	<div style="width: 45%;float: left">	<p style="float: left;width: 35%;text-align: left;">	Landline *:</p> <input type="text" ng-model="address.landline" name="landline" />
 </div>
		  </div>
	 </form>
             </div>
            <div class="form-group" style="margin-top: 2%;">
              <div class="pull-right">
                <!-- <a class="btn btn-default" data-ng-click="rc.sampleWizard.backward()"
                   data-ng-show="rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex">Back</a>
                 -->
                <!-- <a class="btn btn-primary" data-loading-text="Please Wait..." data-ng-click="rc.sampleWizard.forward()" 
                   data-ng-show="(rc.sampleWizard.currentIndex != 0 ) && (rc.sampleWizard.currentIndex  < rc.sampleWizard.navigationLength)">Continue</a>
                 -->
                <a class="btn btn-primary" data-ng-click="onCartSubmit();" 
                 data-ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">Complete</a><!-- " -->
              </div>
            </div>
          </div>
         </div>
	</div>
	<div data-ng-include data-src="'sidebar.html'" class="span3">
	
	</div>
</div>

<script type="text/ng-template" id="composeAd"> 
	<div rc-wizard="composeAdWizard" rc-disabled="rc.firstForm.submitInProgress">
    	<ul class="nav rc-nav-wizard">
              <li class="active" style="float:left;">
                <a class="active" href="#composeText" data-toggle="tab">
                  <span class="badge">1</span>
                  <span>Compose Text</span>
                </a>
              </li>
              <li style="float:left;">
                <a href="#pickToppings" data-toggle="tab">
                  <span class="badge">2</span>
                  <span>Pick Toppings</span>
                </a>
              </li>
              <li style="float:left;">
                <a href="#chooseDates" data-toggle="tab">
                  <span class="badge">3</span>
                  <span>Choose Date</span>
                </a>
              </li>
         </ul>
		<div class="tab-content">
              
              <form class="tab-pane active" id="composeText"  
                     rc-step novalidate>
                <div class="tab-pane active" id="blockView">
                	 
                </div>
              </form>
              
              <form class="tab-pane active" id="pickToppings"  
                     rc-step novalidate>
                <div class="tab-pane">
                </div>
              </form>
              
              <form class="tab-pane active" id="chooseDates"  
                     rc-step novalidate>
                <div class="tab-pane">
                </div>
              </form>
         </div>       
				
    </div>      
</script>
 


<style>
.span3 {
	width: 160px !important;
}
.caption{
	min-height: 50px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
color: #ffffff;
background-color: #fc9a24;
}
.thumbnail:hover {
border: 1px solid #8BD8FF;
background: #65BDDF;
}

.nav > li > a:hover >   {
text-decoration: none;
background-color: #fbb450;

}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
background-color: #65BDDF;
}
.nav
{
margin-bottom: 0px;
}
.backcolo
{
  background-color: #65BDDF;
   float: left;
   padding:0.5%;
   width: 98%;
} 
.Internal{
    background-color:white; 
    float: left; 
    width: 98%;
    padding-top: 2%;
	padding-left: 2%;
}
.custom-pill:hover { 
    background-color: #EFF8F8;
}

.tooltip{
	background: white !important;
	color: black !important;
}

ul{
	margin: 0 0 0px 0px;
}

.breadcrumb_arrow {
background: url("images/Quikr_Sprite.1234567891.png") no-repeat transparent -112px 0;
width: 26px;
height: 35px;
float: left;
}
.custom-font{
color: #000000;
font-weight: bolder;
font-size: larger;
}


.nav-pills > .active > a, .nav-pills > .active > a:hover {
color: #65BDDF;
font-weight: bolder;
font-size: larger;
background-color: transparent;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover{
	border: 1px solid #65BDDF;
}
th{
	background-color: #f9f9f9;
}
.custom-pill{
	padding: 5px;
	font: 14px Arial,Helvetica,sans-serif;
	font-weight: bold;
}
.thumbnails > li {

margin-left: 15px;
}


#loading-id {
position: absolute;
z-index: 100;
top: 50%;
left: 50%;
}


</style>


