
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="adschela">
<body class="mnt-body" >
                 		<div class="span12" style="margin-bottom: 1%;" >
					<a href= "" onclick="window.top.location='http://www.arihantbooking.com';return false;" target="_top">
					     <img src="assets/img/New_logo.gif"   style="float:left;height: 87px;"alt="Bootsshop"/> 
					</a>
				</div>	
				 <div>
					<img src="assets/img/Fone-Number.gif"   style="float:left;"alt="Bootsshop"/>
				</div>	
	<div style="width: 100%;float: left;">
	<p style="font-size: 36px;"> Requested page is not found, please  <a href= "" onclick="window.top.location='http://www.arihantbooking.com';return false;" target="_top">Click here</a>  to goto homepage </p>
	</div>
	</body>
</html>