
@(ordedrdata: List[viewmodel.ComposedAdSaveVMInvoice])
@main("") {
<br />
<br />
<p><ul> 
@for(ComposedAdSaveVMInvoice <- ordedrdata) {
 <div>
     <img src="http://www.arihantbooking.com/assets/img/Logo%20Arihant%20Booking.jpg" />
		     <table style="margin-left: 2%;">
		      <tr>
			       <td><label style="color:blue">Order ID  </label></td><td><span style="font-weight:bold">@ComposedAdSaveVMInvoice.getOrderID()</span></td>
			       <td><label style="color:blue">Order Date </label> </td><td><span style="font-weight:bold">@ComposedAdSaveVMInvoice.getOrderDate()</span></td>
			  </tr>
			   <tr><!-- Nameofthenewspaper ,TotalCost,Bgcolor,,numberOfWords, -->
			        <td><label style="color:blue">Client Name </label> </td><td> &nbsp;&nbsp;<span style="font-weight:bold">@ComposedAdSaveVMInvoice.getUserEmailId()</span></td>
			       <td><label style="color:blue"> Payment Mode </label>  </td><td>&nbsp;&nbsp;<span style="font-weight:bold" ng-if=" @ComposedAdSaveVMInvoice.getPaymentOption() == 'cc'">Online</span></td>
			  </tr>
			  <!-- <tr>
			  <td><label style="color:blue">Address </label> </td>
			  <td><span style="font-weight:bold">{{addressDetails.fullName}},{{addressDetails.address}} , {{addressDetails.city}} ,{{addressDetails.state}} ,{{addressDetails.pinCode}}</span></td>
			  
			  </tr> -->
		 </table>
		 
		 
		 
     </div>

<div>
<br>
<br>
<br>


<table border="1" style="width: 900px;float: left; ">
		      <tr>
		         <td style="width: 22%;color:blue;"><label> <center>NewsPaper/Category/Sub Category/City</center> </label> </td>
		         <td style="width: 24%;color:blue"><center><label>Ad Text</label></center> </td>
		         <td style="width: 22%;color:blue;"><label><center>Published Date</center></label> </td>
		         <td style="width: 22%;color:blue;"><label><center>Enhancements</center></label> </td>
		         <td style="width: 22%;color:blue;"><label><center>Total Cost </center></label></td>
			   </tr>
			   <tr style="height: 140px";>
			       <td >@ComposedAdSaveVMInvoice.getNameofthenewspaper()/@ComposedAdSaveVMInvoice.getCategory()/ @ComposedAdSaveVMInvoice.getSubcategory()/<br/> @ComposedAdSaveVMInvoice.getCity()</lable></td>
			       <td >@ComposedAdSaveVMInvoice.getAdtext()</lable></td>
			       
			  <!-- <tr>
			      <td><label>BgColor Selected : </label></td>
			      <td> {{invoice.Bgcolor}}</td>
			       <td><label>Border Selected: </label> </td>
			       <td>{{invoice.Border}}
			      </td>
			  </tr> -->
			  
			      <!--  <td><label>Tick Selected: </label> </td>
			       <td> {{invoice.Tick}} </td> -->
			       <td> @ComposedAdSaveVMInvoice.getPublishDate() </lable></td>
			       <td>BgColor: 
			       @if(ComposedAdSaveVMInvoice.getBgcolor().isEmpty){
			       <font >No</font> } else{
			       <font > @ComposedAdSaveVMInvoice.getBgcolor()</font> 
			       }               
			      
			        <br> 
			          Border:@ComposedAdSaveVMInvoice.getBorder()<br>Tick: 
			          @if(ComposedAdSaveVMInvoice.getTick() == "true") {
   						  <font>No</font>
						} else {
   						 <font>Yes </font>
						}
			          
			           <br>No Of Words/Line: @ComposedAdSaveVMInvoice.getNumberOfWords()<br>Total Extra Cost:@(ComposedAdSaveVMInvoice.getTotalExtraCost()  + ComposedAdSaveVMInvoice.getExtraCost())</lable></td>
			       <td>@ComposedAdSaveVMInvoice.getTotalCost() </lable></td>
			</span>
			 </tr>
			
		        </table>

</div>

} 

}
</ul>
</p>