<html class="mnt-html"  xmlns="http://www.w3.org/1999/xhtml">

	<body class="mnt-body" >
                 		<div class="span12" style="margin-bottom: 1%;" >
					<a href= "" onclick="window.top.location='http://www.arihantbooking.com';return false;" target="_top">
					     <img src="assets/img/New_logo.gif"   style="float:left;height: 87px;"alt="Bootsshop"/> 
					</a>
				</div>	
				 <div>
				 
					<img src="assets/img/Fone-Number.gif"   style="float:left;"alt="Bootsshop"/>
				</div>	
	</body>
	

</html>