@(ad2book: String)
<html class="mnt-html" xmlns="http://www.w3.org/1999/xhtml">
@if( ad2book == "http://ad2book.in/") {
<body style="cursor:pointer;" class="mnt-body" onclick="window.top.location='http://www.arihantbooking.com';return false;"
			target="_top">
	<!-- <div class="span12" style="margin-bottom: 1%;">
		<a href=""
			onclick="window.top.location='http://www.arihantbooking.com';return false;"
			target="_top"> <img src="assets/img/New_logo.gif"
			style="float: left; height: 87px;" alt="Bootsshop" />
		</a>
	</div> -->
	<!-- <div>
		<img src="assets/img/Toll-Free.gif" style="float: left;"
			alt="Bootsshop" />
	</div>
	 -->
	<div style="width: 100%; float: left;">
		<div style="width:100%;">
		<img src="assets/img/ad2bookheader.png" alt="Smiley face" >
		</div>
	</div>
	<div style=";float:left;width:100%;">
		<h1 style="color: red" >Times of India,&nbsp;&nbsp;Prajavani,&nbsp;Vijay Karnataka,&nbsp;Maharashtra Times,&nbsp;Amar Ujala,&nbsp;Rajasthan Patrika,
		&nbsp;Hindustan Hindi,&nbsp;Hindustan Times,&nbsp;Sandhya Times,&nbsp;Indian Express,&nbsp;New Indian Express,&nbsp;Punjab kesari,&nbsp;Nava Bharat,&nbsp;Dharitri,
		&nbsp;Himali Bela,&nbsp;Mirror,&nbsp;Rashtriya Sahara,&nbsp;The Hindu and all leading Indian Newspapers....
		</h1>
		</div>
		<br />
		<br />
	
	<div style="width:100%">
		<h2>Matrimonial Ad,&nbsp;Recruitment Ad,&nbsp;Classified Advertising,&nbsp;Property
			Ad,&nbsp;Real Estate Ad,&nbsp;Business Ad,&nbsp;Lost & Found Ad,&nbsp;Change the Name
			Ad,&nbsp;Computer Recruitment Classified,&nbsp;Wanted Ad,&nbsp;Situation Vacant Ad,
			&nbsp;Shopping Automobiles Ad,&nbsp;Obituary Ad,&nbsp;Remebrance Ad,&nbsp; For Rent
			,&nbsp;Astrology Ad,&nbsp;Medical Ad,&nbsp;Lease and Rent Ad,&nbsp;Announcement Ad</h2>
	</div>

	<div style="width:100%;margin-top:7%;">
		<!-- <div style="width:50%;">For Booking ad Visit us at<br style="margin:0%;"> <h2>ArihantBooking.com</h2></div>
	  -->  
	  <div style="width:18%;float: left;">
		<img src="assets/img/ad2book footer.png" alt="Smiley face" >
	  </div>
	  <div style="width: 70%;float: left;">
	   <p>
		Book Classified or Display Advertisement with us and we would offer you the best price in the market. Guaranteed Best Price and the Quick Service!!! If you get better prices anywhere then come back to us with the right information and the finalized Ad. We would do our best to offer you much better price and also do the quick online booking on the desired dates. !!
	</p>
	
	   </div>
	</div>
	
</body>
} 

@if( ad2book == "http://releasemyads.in/") {
<body class="mnt-body"onclick="window.top.location='http://www.arihantbooking.com';return false;"
			target="_top">
	<!-- <div class="span12" style="margin-bottom: 1%;">
		<a href=""
			onclick="window.top.location='http://www.arihantbooking.com';return false;"
			target="_top"> <img src="assets/img/New_logo.gif"
			style="float: left; height: 87px;" alt="Bootsshop" />
		</a>
	</div>
	<div>
		<img src="assets/img/Toll-Free.gif" style="float: left;"
			alt="Bootsshop" />
	</div> -->
	<div style="width: 100%; float: left;">
		<div style="width: 100%;">
			<img src="assets/img/releasemyadsheader.png" alt="Smiley face">
		</div>
	</div>
	<div style=";float:left;width:100%;">
		<h1 style="color: red" >Times of India,&nbsp;&nbsp;Prajavani,&nbsp;Vijay Karnataka,&nbsp;Maharashtra Times,&nbsp;Amar Ujala,&nbsp;Rajasthan Patrika,
		&nbsp;Hindustan Hindi,&nbsp;Hindustan Times,&nbsp;Sandhya Times,&nbsp;Indian Express,&nbsp;New Indian Express,&nbsp;Punjab kesari,&nbsp;Nava Bharat,&nbsp;Dharitri,
		&nbsp;Himali Bela,&nbsp;Mirror,&nbsp;Rashtriya Sahara,&nbsp;The Hindu and all leading Indian Newspapers....
		</h1>
		</div>
		<br />
		<br />
	<div style="width:100%">
		<h2>Matrimonial Ad,&nbsp;Recruitment Ad,&nbsp;Classified Advertising,&nbsp;Property
			Ad,&nbsp;Real Estate Ad,&nbsp;Business Ad,&nbsp;Lost & Found Ad,&nbsp;Change the Name
			Ad,&nbsp;Computer Recruitment Classified,&nbsp;Wanted Ad,&nbsp;Situation Vacant Ad,
			&nbsp;Shopping Automobiles Ad,&nbsp;Obituary Ad,&nbsp;Remebrance Ad,&nbsp; For Rent
			,&nbsp;Astrology Ad,&nbsp;Medical Ad,&nbsp;Lease and Rent Ad,&nbsp;Announcement Ad</h2>
	</div>

	<div style="width:100%;margin-top:7%;">
		<!-- <div style="width:50%;">For Booking ad Visit us at<br style="margin:0%;"> <h2>ArihantBooking.com</h2></div>
	  -->  
	  <div style="width:18%;float: left;">
		<img src="assets/img/ad2book footer.png" alt="Smiley face" >
	  </div>
	  <div style="width: 70%;float: left;">
	   <p>
		Book Classified or Display Advertisement with us and we would offer you the best price in the market. Guaranteed Best Price and the Quick Service!!! If you get better prices anywhere then come back to us with the right information and the finalized Ad. We would do our best to offer you much better price and also do the quick online booking on the desired dates. !!
	</p>
	
	   </div>
	</div>
	
</body>
}

</html>