@(ad2book: String)
<html class="mnt-html" xmlns="http://www.w3.org/1999/xhtml">
@if( ad2book == "http://ad2book.in/") {
<body style="cursor:pointer;" class="mnt-body" onclick="window.top.location='http://www.arihantbooking.com';return false;"
			target="_top">
	<!-- <div class="span12" style="margin-bottom: 1%;">
		<a href=""
			onclick="window.top.location='http://www.arihantbooking.com';return false;"
			target="_top"> <img src="assets/img/New_logo.gif"
			style="float: left; height: 87px;" alt="Bootsshop" />
		</a>
	</div> -->
	<!-- <div>
		<img src="assets/img/Toll-Free.gif" style="float: left;"
			alt="Bootsshop" />
	</div>
	 -->
	<div style="width: 100%; float: left;">
		<div style="width:100%;">
		<img src="assets/img/ad2bookheader.png" alt="Smiley face" >
		</div>
	</div>
	<div>
		<h1 style="color: red">Times of India</h1>
	</div>
	<div style="width:65%">
		<h2>Matrimonial Ad,Recruitment Ad,Classified Advertising,Property
			Ad,Real Estate Ad,Business Ad,Lost & Found Ad,Change the Name
			Ad,Computer Recruitment Classified,Wanted Ad,Situation Vacant Ad,
			Shopping Automobiles Ad,Obituary Ad,Remebrance Ad, For Rent
			,Astrology Ad,Medical Ad,Lease and Rent Ad,Announcement Ad</h2>
	</div>

	<div style="width:100%;">
		<!-- <div style="width:50%;">For Booking ad Visit us at<br style="margin:0%;"> <h2>ArihantBooking.com</h2></div>
	  -->  
	  <div style="width:18%;float: left;">
		<img src="assets/img/ad2book footer.png" alt="Smiley face" >
	  </div>
	  <div style="width: 45%;float: left;">
	   <p>
		Book Classified or Display Advertisement with us and we would offer you the best price in the market. Guaranteed Best Price and the Quick Service!!! If you get better prices anywhere then come back to us with the right information and the finalized Ad. We would do our best to offer you much better price and also do the quick online booking on the desired dates. !!
	</p>
	
	   </div>
	</div>
	
</body>
} 

@if( ad2book == "http://releasemyads.in/") {
<body class="mnt-body"onclick="window.top.location='http://www.arihantbooking.com';return false;"
			target="_top">
	<!-- <div class="span12" style="margin-bottom: 1%;">
		<a href=""
			onclick="window.top.location='http://www.arihantbooking.com';return false;"
			target="_top"> <img src="assets/img/New_logo.gif"
			style="float: left; height: 87px;" alt="Bootsshop" />
		</a>
	</div>
	<div>
		<img src="assets/img/Toll-Free.gif" style="float: left;"
			alt="Bootsshop" />
	</div> -->
	<div style="width: 100%; float: left;">
		<div style="width: 100%;">
			<img src="assets/img/releasemyadsheader.png" alt="Smiley face">
		</div>
	</div>
	<div>
		<h1 style="color: red">Times of India</h1>
	</div>
	<div style="width: 60%">
		<h2>Matrimonial Ad,Recruitment Ad,Classified Advertising,Property
			Ad,Real Estate Ad,Business Ad,Lost & Found Ad,Change the Name
			Ad,Computer Recruitment Classified,Wanted Ad,Situation Vacant Ad,
			Shopping Automobiles Ad,Obituary Ad,Remebrance Ad, For Rent
			,Astrology Ad,Medical Ad,Lease and Rent Ad,Announcement Ad</h2>
	</div>

	<div style="width: 100%;">
		<!-- <div style="width:50%;">For Booking ad Visit us at<br style="margin:0%;"> <h2>ArihantBooking.com</h2></div>
	  -->
		<div style="width: 18%; float: left;">
			<img src="assets/img/ad2book footer.png" alt="Smiley face">
		</div>
		<div style="width: 40%; float: left;">
			<p>Book Classified or Display Advertisement with us and we would
				offer you the best price in the market. Guaranteed Best Price and
				the Quick Service!!! If you get better prices anywhere then come
				back to us with the right information and the finalized Ad. We would
				do our best to offer you much better price and also do the quick
				online booking on the desired dates. !!</p>

		</div>
	</div>
	
</body>
}

</html>