@(beData:String)

<div  id="sidebar">	
	<ul class="nav nav-list bs-docs-sidenav" style="display: block;text-align: center;padding-top: 10%;padding-bottom: 5%;background-color: #8BD8FF;" ng-controller="SidebarController">											
 		<a href="product_summary.html"><strong>{{carts.length}} Ads in your cart  </strong></a>
		<li style="border:0"> &nbsp;</li>
		<div style="width: 100%;width: 95%;margin-left: 3%;background-color: white;">
		<div ng-repeat="cart in carts" style="padding: 5px;">
		  <div class="btn-group" style="padding-bottom: 1%;padding-top: 1%;border-bottom: 1px solid rgb(238, 238, 238);">
  			<a ng-click="updateCartItem(cart)" style="height: 50px;max-width: 90%;min-width: 90%;float: left;">
  				<p style="margin:0px; font-size: 13px;">{{cart.newspaper}} - {{cart.location}}</p>
  				<p ng-show="cart.total == 0" style="margin:0px; font-size: 11px;">(Rs {{cart.rate}} on {{cart.freeUnit}}, Rs {{cart.extra}} extra per {{cart.unitVal}} {{cart.unit}})</p>
  				<p ng-show="cart.total != 0" style="margin:0px; font-size: 11px;">(Total: Rs {{cart.total}})</p>
  			</a>
  			<div ng-click="removeFromCart(cart)"style="height: 50px;" class="">
  				<span><i class="icon-remove"></i></span>
  			</div>
  		</div>
		</div>
		</div> 
	  </ul>
</div>	  